<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="start" (click)="cerrarModal()"   fill="clear"   color="dark">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Detalle Factura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid >
    <ion-row>
      <ion-col size="6">
        <ion-label>ORDEN COMPRA</ion-label>
        <ion-item lines="none" class="ion-item">
           <ion-input readonly  type="text" placeholder=">ORDEN COMPRA" [(ngModel)]="factura.ORDEN_COMPRA"></ion-input>
          </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-label># FACTURA</ion-label>
        <ion-item lines="none" class="ion-item">
           <ion-input readonly  type="text" placeholder="# FACTURA" [(ngModel)]="factura.FACTURA"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label>FECHA</ion-label>
        <ion-item lines="none" class="ion-item">
           <ion-input readonly  type="text" placeholder="FECHA" [(ngModel)]="factura.FECHA"></ion-input>
          </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-label>DESCRIPCIÓN</ion-label>
        <ion-item lines="none" class="ion-item">
           <ion-input readonly  type="text" placeholder="DESCRIPCIÓN" [(ngModel)]="factura.DESCRIPCION"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="6">
        <ion-label>MONTO</ion-label>
        <ion-item lines="none" class="ion-item">
           <ion-input readonly  type="text" placeholder="proveedor" [ngModel]="factura.MONTO | colones : 2 : '.' : ',' : factura.MONEDA == 'CRC' ? '₡' :'$'"></ion-input>
          </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-label>MONEDA</ion-label>
        <ion-item lines="none" class="ion-item">
           <ion-input readonly  type="text" placeholder="proveedor" [(ngModel)]="factura.MONEDA"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
 

</ion-content>


<ion-footer >
  <ion-toolbar >
  <ion-button (click)="generarPost()" expand="block" fill="solid" color="dark">
   {{actualizar ? 'Actualizar' : 'Guardar'}} Factura
  </ion-button>
  </ion-toolbar>
</ion-footer>