<ion-header class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-button slot="start" (click)="cerrarModal()"   fill="clear"  >
     <ion-icon size="large" color="dark"  name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title  slot="start">{{estado}}</ion-title>
  </ion-toolbar>
<ion-row >
  <ion-col size="12" size-md="4"  class="ion-no-padding" >
    <ion-searchbar   mode="ios" placeholder="numero de orden"   type="text" (ionChange)="onSearchChange($event)" >    </ion-searchbar>
  </ion-col>
  <ion-col size="12" size-md="2">
    <ion-button  color="dark" expand="block" fill="outline"  >
      <ion-label>Desde</ion-label>
    </ion-button>
  </ion-col>
  <ion-col size="12" size-md="2">
    <ion-button  color="dark" expand="block" fill="outline"  >
      <ion-label>Para</ion-label>
    </ion-button>
  </ion-col>
  <ion-col size="12" size-md="2">
    <ion-button  color="dark" expand="block" fill="outline"  >
      <ion-label>Fecha Pedido</ion-label>
    </ion-button>
  </ion-col>
  <ion-col size="12" size-md="2">
    <ion-button  color="dark" expand="block" fill="outline"  >
      <ion-label>Fecha Llegada</ion-label>
    </ion-button>
  </ion-col>
</ion-row>
</ion-header>

<ion-content class="ion-padding">

<ion-grid >
  <ion-row class="header-row">
    <ion-col >PO</ion-col>
    <ion-col >País</ion-col>
    <ion-col >Marca</ion-col>
    <ion-col >SKU</ion-col>
    <ion-col >Fecha Pedido</ion-col>
    <ion-col >Fecha Llegada</ion-col>
    <ion-col >Estatus</ion-col>
    <ion-col >Opciones</ion-col>
  </ion-row>

  <ion-row *ngFor="let orden of ordenes" class="data-row">
    <ion-col >{{orden.No_Orden}}</ion-col>
    <ion-col >{{orden.Abreviacion_Pais}}</ion-col>
    <ion-col >{{orden.Marca}}</ion-col>
    <ion-col >{{orden.SKU}}</ion-col>
    <ion-col >{{orden.Fecha}}</ion-col>
    <ion-col >{{orden.Fecha_Pedido}}</ion-col>
    <ion-col ><ion-badge color="warning" mode="ios">{{orden.Estado}}</ion-badge></ion-col>
    <ion-col ><ion-button    fill="clear" size="small">
   <ion-icon slot="icon-only" size="large" name="trash" color="danger"></ion-icon>
    </ion-button></ion-col>
  </ion-row>


</ion-grid>

</ion-content>


 