<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="cerrarModal()"  fill="clear" slot="start">
      <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Perfil Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
 
    
<ion-grid >
  <ion-row>
<ion-col size="12">
  <ion-avatar  class="height">
    <img src="assets/imgs/user.svg" />
  </ion-avatar>
 
</ion-col>
    <ion-col size="6">

      <ion-label>Nombre</ion-label>
      <ion-item class="ion-item" lines="none">
       <ion-input type="text" placeholder="Nombre"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="6">

      <ion-label>Apellido</ion-label>
      <ion-item class="ion-item" lines="none">
       <ion-input type="text" placeholder="Apellido"></ion-input>
      </ion-item>
    </ion-col>


    <ion-col size="6">

      <ion-label>Rol</ion-label>
      <ion-item class="ion-item" lines="none">
       <ion-input type="text" placeholder="Rol"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="6">

      <ion-label>Usuario</ion-label>
      <ion-item class="ion-item" lines="none">
       <ion-input type="text" placeholder="Usuario"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>



  </ion-list>
</ion-content>
