
.title{
font-size: 2rem;
text-decoration: underline;
text-underline-offset: 6px;
letter-spacing: 0.2rem;
}
.subtitle{
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}
.margin-right{
margin-right: 0.5rem;
}
ion-fab-button{
    ion-icon{
    font-size: 2rem;
    }
}