
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Control Viáticos</ion-title>
    <ion-fab-button (click)="estadoCuenta()" slot="end" color="dark" size="small">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="adelantoViaticos()" slot="end" color="dark" size="small">
      <ion-icon name="cash"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="filtrarGastos()" slot="end" color="dark" size="small">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
    <ion-fab-button slot="end" color="dark" size="small">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
</ion-header>

 
<ion-content class="ion-padding">

  <ion-grid >
  <ion-row>
<ion-col size="6">
 
<ion-item lines="full">
  <ion-grid >
    <ion-row>
      <ion-col size="3">
<ion-label>Colaborador</ion-label>
      </ion-col>
      <ion-col size="3">
<ion-label>Fecha</ion-label>
      </ion-col>

      <ion-col size="3">
      <ion-label>  Monto</ion-label>
      </ion-col>
      <ion-col size="3">
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>

<ion-item>
  <ion-grid >
    <ion-row>
      <ion-col size="3">Nelson Morera</ion-col>
      <ion-col size="3"> 2022-01-09</ion-col>
      <ion-col size="3">5000</ion-col>
      <ion-col size="3"><ion-checkbox></ion-checkbox></ion-col>
    </ion-row>
  </ion-grid>
    </ion-item>


    <ion-item>
      <ion-grid >
        <ion-row>
          <ion-col size="3">Nevil Morera</ion-col>
          <ion-col size="3"> 2022-01-09</ion-col>
          <ion-col size="3">5000</ion-col>
          <ion-col size="3"><ion-checkbox></ion-checkbox></ion-col>
        </ion-row>
      </ion-grid>
        </ion-item>


</ion-col>
<ion-col size="6">
 
<ion-item lines="none">
<ion-label><strong>Detalle</strong></ion-label>
<ion-fab-button size="small" color="success" slot="end">
 
</ion-fab-button>
<ion-fab-button size="small" color="warning" slot="end">
 
</ion-fab-button>
<ion-fab-button size="small" color="danger" slot="end">
 
</ion-fab-button>
 
</ion-item>
<ion-list >
  
<ion-item>
  <ion-grid >
    <ion-row>
      <ion-col size="4">La muerta de hambre</ion-col>
      <ion-col size="4"> 2022-01-09</ion-col>
      <ion-col size="4">5000</ion-col>
    </ion-row>
  </ion-grid>
    </ion-item>

 
</ion-list>

        
</ion-col>
  </ion-row>
  </ion-grid>
  </ion-content>
  