
  <ion-toolbar  >
    <ion-grid >
      <ion-row>
        <ion-col size="6" style="display: flex; justify-content: center;align-items: right;">
          <ion-title class="ion-text-uppercase" style="text-align: left;">Lista de Paises</ion-title>
        
        </ion-col>
        <ion-col size="5" style="display: flex; justify-content: center;align-items: right;">
      
          <ion-searchbar    mode="ios" placeholder="Buscar pais" inputmode="text" (ionChange)="onSearchChange($event)"  debounce="250" ></ion-searchbar>
  

        </ion-col>
      </ion-row>
    </ion-grid>
 
      </ion-toolbar>

<ion-content>
  <ion-list  >
    <ion-item lines="full"  (click)="retornarPais(pais)" *ngFor="let pais of paises | filtro: textoBuscar:'NOMBRE'">
      <ion-label>{{pais.NOMBRE}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="cerrarModal()" size="small" color="danger"> 
    <ion-icon name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>