:host ::ng-deep{

  --padding-start: 0px;
  --padding-end: 0px;
}
ion-content{
  
  --background:#e6ebef;
  }

    .dark-header{
      background-color: #000; 
      color: #fff;
      text-align: left;
    }
    .row-text-center{
      background-color: #D9E1F2;
      text-align: left;
    }
    a{
      font-size: 17px;
      letter-spacing: 0.5px;
      text-decoration: none;
    }
 
    .theader{
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      border-bottom: 2px solid black;
    
    }

    ion-col ion-label{
      margin-left: 0.5rem;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
 

    }

    .ion-item{
      margin-top: 0.5rem;
    --background:#e6ebef;;
     border-radius: 50px;
 height:2.5rem;
 
      box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.08);
      --highlight-height:0px;
      
    }
    .header-row{
  
      font-weight: 500;
      border-bottom: 2px solid black;
    }
    .data-row{
      border-bottom: 1px solid black;
    }
    .odd{
      background: #CCC;
    
    }
    .even{
      background-color: #D9E1F2;
  }
  


  ion-row{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    width: 90%;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    min-height: 100px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  



  .container-title{
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
  
  }

  .container-proveedor{
    border-radius: 10px;
    box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.08);
    margin: 1rem;
    background-color: #fff;
    padding-bottom: 2rem;
   // height: 30vh;
  }
    .container-details{
      border-radius: 10px;
      box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.08);
      margin: 1rem;
      background-color: #fff;
      padding-bottom: 2rem;
     // height: 30vh;
    }
.container-header{
  border-radius: 10px;
  box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.08);
  margin: 0.5rem;
  background-color: #fff;
 min-height: 10vh!important;
}
    .container-products{
      border-radius: 10px;
      box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.08);
      margin: 0.5rem;
      background-color: #fff;
      min-height: 30vh;
      max-height: 60vh;
      padding-bottom: 2rem;
    }

    .container-products-content{

      min-height: 30vh;
      max-height: 35vh;
      overflow-x:auto;

      ion-col{
        font-size: 12px;
        font-weight: bold;

      }
    }
    .container-montos{

      ion-col{
        font-size: 12px;
        font-weight: bold;

      }
    
    }
    ion-textarea{
      padding: 0.5rem;
      margin: 0.5rem;
      border-radius: 10px;
      box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.08);
  background: #e6ebef!important;

}


