:host ::ng-deep{

  --padding-start: 0px;
  --padding-end: 0px;
}
  
    .dark-header{
      background-color: #000; 
      color: #fff;
      text-align: left;
    }
    .row-text-center{
      background-color: #D9E1F2;
      text-align: left;
    }
    a{
      font-size: 17px;
      letter-spacing: 0.5px;
      text-decoration: none;
    }
 
    .theader{
      font-size: 12px;
      font-weight: bold;
      border-bottom: 2px solid black;
    
    }
    .header-row{
  
      font-weight: 500;
      border-bottom: 2px solid black;
    }
    .data-row{
      border-bottom: 1px solid black;
    }
    .odd{
      background: #CCC;
    
    }
    .even{
      background-color: #D9E1F2;
  }
  
  
  ion-input{
    font-size: 18px;
  
  
  }

  ion-row{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    width: 90%;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    min-height: 100px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
.item-inner{
    padding: 0!important;
  }
  
  ion-card-content{
    --backkground:#f2f2f2;
    background-color: #f2f2f2; // black
  }
  ion-label{
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  ion-input{
    --background: #fff;
    
    } ion-item{
  margin: 0;
  padding: 0;
       
    //  --highlight-height:0px;
     
    }
    ion-toggle::before {
      position: absolute;
    
      top: 16px;
      left: 10px;
    
      content: "ON";
    
      color: white;
      font-size: 8px;
    
      z-index: 1;
    }ion-toggle {
      height: 30px;
      width: 50px;
      --handle-spacing: 0px;
      --handle-height: 30px;
      --handle-width: 30px;
    }