
 <ion-toolbar   >
   <ion-row>
      <ion-col size="5">
         <ion-row>
            <ion-col size="6" class="ion-text-center">
<ion-row *ngIf="gestionOrdenesService.ordenCompra">
   <ion-col size="12" >

      <ion-label><strong><h1>  {{ gestionOrdenesService.ordenCompra.ORDEN_COMPRA }}</h1></strong>
         <ion-badge color="{{gestionOrdenesService.color}}"  mode="ios">{{gestionOrdenesService.estado}} 
           </ion-badge>
      </ion-label>
   </ion-col>

 

</ion-row>
            </ion-col>
   
            <ion-col size="6">
               <ion-row class="dark-header">
                  <ion-col size="4">
      Dia
                  </ion-col>
                  <ion-col size="4">
                     Mes
                  </ion-col>
                  <ion-col size="4">
                     Año
                  </ion-col>
               </ion-row>
               <ion-row class="row-text-center">
                  <ion-col size="4">
      {{gestionOrdenesService.date}}
                  </ion-col>
                  <ion-col size="4">
                     {{gestionOrdenesService.month}}
                  </ion-col>
                  <ion-col size="4">
                     {{gestionOrdenesService.year}}
                    
                  </ion-col>
               </ion-row>
            </ion-col>
         </ion-row>
      </ion-col>

      <ion-col size="7">
      
   <ion-item lines="none">
 <ion-fab-button (click)="enviarCorreos()" *ngIf="gestionOrdenesService.actualizar && gestionOrdenesService.ordenCompra.ESTADO == 'A' && this.usuariosService.usuario.Rol == 'C'  || gestionOrdenesService.ordenCompra.ESTADO == 'E' && this.usuariosService.usuario.Rol == 'C'" slot="end" size="small" color="dark">
   <ion-icon name="mail-outline"></ion-icon>
 </ion-fab-button>
      <ion-fab-button *ngIf="gestionOrdenesService.actualizar && gestionOrdenesService.ordenCompra.ESTADO == 'E' && this.usuariosService.usuario.Rol == 'C'" slot="end" size="small" color="dark"  (click)="generatePDF()">
         <ion-icon name="document-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="gestionOrdenesService.ordenCompra.ESTADO == 'E'  && this.usuariosService.usuario.Rol == 'C' || gestionOrdenesService.actualizar && gestionOrdenesService.ordenCompra.ESTADO == 'A' && this.usuariosService.usuario.Rol == 'C'" slot="end" size="small" color="dark"  (click)="actualizarEstado()">
         <ion-icon name="create-outline"></ion-icon>
       </ion-fab-button>
   <ion-fab-button *ngIf="gestionOrdenesService.articulos.length > 0 &&  gestionOrdenesService.ordenCompra.ESTADO" slot="end" size="small" color="dark"  (click)="generarPost()">
     <ion-icon name="save"></ion-icon>
   </ion-fab-button>

<span slot="end" style="position:relative;" *ngIf="gestionOrdenesService.actualizar">
   <ion-fab-button  size="small" color="dark" (click)="GestorArchivos()">
      <ion-icon name="folder-open-outline"></ion-icon>

      
          </ion-fab-button>
          <ion-badge  style="position: absolute; top:0; right:0px"  color="primary" mode="ios">{{gestorArchivosService.archivos.length}}</ion-badge>
</span>
  
   <ion-fab-button slot="end" size="small" color="dark" (click)="currency()">
<span style="font-size: 1.5rem;font-weight:bold">      {{gestionOrdenesService.moneda}}</span>
    </ion-fab-button>
   <ion-fab-button  *ngIf="gestionOrdenesService.ordenCompra && gestionOrdenesService.ordenCompra.ESTADO == 'B'" slot="end" size="small" color="dark" (click)="consultarAprobadores()">
      <ion-icon name="people"></ion-icon>
    </ion-fab-button>
    
   <ion-fab-button   slot="end" size="small" color="dark" (click)="consultarOrdenesEstado()">
     <ion-icon name="search"></ion-icon>
   </ion-fab-button>

   
 
   
   <ion-fab-button slot="end" size="small" color="dark" (click)="limpiarDatos()">
     <ion-icon name="reload"></ion-icon>
   </ion-fab-button>

   </ion-item>
      </ion-col>
     
           
   </ion-row>
</ion-toolbar>



<ion-content >

   <ion-grid  #proveedor  class="container-proveedor"   >

      <ion-row>
         <ion-col size="12">
            <ion-toolbar class="ion-no-padding"  >
               <ion-title class="container-title">Detalle del Proveedor</ion-title>
              
               <ion-fab-button *ngIf="gestionOrdenesService.ordenCompra.ESTADO == 'E'  && this.usuariosService.usuario.Rol == 'C' || gestionOrdenesService.actualizar && gestionOrdenesService.ordenCompra.ESTADO == 'A' && this.usuariosService.usuario.Rol == 'C'" color="dark"  (click)="editBulk()" size="small"  slot="end" >
                  <ion-icon name="cloud-download-outline"></ion-icon>
               </ion-fab-button>
               <ion-fab-button color="dark"  (click)="bulk()" size="small"  slot="end" >
                  <ion-icon name="cloud-upload-outline"></ion-icon>
               </ion-fab-button>

               <ion-fab-button color="dark"  *ngIf="gestionOrdenesService.ordenCompra.ESTADO == 'A'" slot="end" size="small" color="dark" (click)="listaProveedores()">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-fab-button>
            </ion-toolbar>
         </ion-col>
      </ion-row>
      <ion-row *ngIf="!gestionOrdenesService.proveedor">
         <ion-col size="12" class="ion-text-center">
      
            <img height="100"  class="ion-margin" src="assets/distribution.svg" alt="" >
         </ion-col>
      </ion-row>
      <ion-row *ngIf="gestionOrdenesService.proveedor">
         <ion-col size="4" >
   
             <ion-row>
               <ion-col size="12">
                  <ion-label><h2>Proveedor : {{gestionOrdenesService.proveedor.NOMBRE}}</h2></ion-label>
               
               </ion-col>
   
              
         
         </ion-row>
                  </ion-col>
   
                  <ion-col size="4">
                     <ion-row>
                        <ion-col size="12">
                           <ion-label>Dirección : {{gestionOrdenesService.proveedor.DIRECCION}}</ion-label>
                        </ion-col>
                        <ion-col size="12">
                           <ion-label>Correo : {{gestionOrdenesService.proveedor.E_MAIL}}</ion-label>
                        </ion-col>
                        <ion-col size="12">
                           <ion-label>Telefono : {{gestionOrdenesService.proveedor.TELEFONO1}}</ion-label>
                        </ion-col>
                     </ion-row>
                  </ion-col>
                  <ion-col size="4">
                    <ion-row>
                       <ion-col size="12">
                          <ion-label>Proforma # :</ion-label>
                       </ion-col>
            
                       <ion-col size="12">
                          <ion-label>Codigo Postal : </ion-label>
                       </ion-col>
                       <ion-col size="12">
                          <ion-label>Contacto : </ion-label>
                       </ion-col>
                       <ion-col size="12">
                          <ion-label>Incoterm : </ion-label>
                       </ion-col>
                 
                    </ion-row>
                  </ion-col>
          
   
       </ion-row>

   </ion-grid>
  

   <ion-grid  #detalle  class="container-details" >
      <ion-row>
         <ion-col size="12">
            <ion-toolbar class="ion-no-padding"  >
               <ion-title class="container-title">Detalle De La Orden</ion-title>
               <ion-fab-button color="dark" *ngIf="gestionOrdenesService.ordenCompra.ESTADO == 'A'" slot="end"  (click)="listaBodegas()"   size="small">
                  <ion-icon name="add"></ion-icon>
               </ion-fab-button>
            </ion-toolbar>
         </ion-col>
      </ion-row>

      
<ion-row  >

   <ion-col size="2">
     <ion-label>USUARIO</ion-label>
     <ion-item lines="none" class="ion-item">
        <ion-input readonly type="text" placeholder="usuario" [(ngModel)]="gestionOrdenesService.ordenCompra.USUARIO"></ion-input>
       </ion-item>
   </ion-col>



   <ion-col size="2">
     <ion-label>PROVEEDOR</ion-label>
     <ion-item lines="none" class="ion-item">
        <ion-input readonly  type="text" placeholder="proveedor" [(ngModel)]="gestionOrdenesService.ordenCompra.PROVEEDOR"></ion-input>
       </ion-item>
   </ion-col>

   <ion-col size="2">
     <ion-label>BODEGA</ion-label>
     <ion-item lines="none" class="ion-item">
        <ion-input readonly type="text"  placeholder="bodega" [(ngModel)]="gestionOrdenesService.ordenCompra.BODEGA"></ion-input>
       </ion-item>
   </ion-col>

   <ion-col size="2">
     <ion-label>CONDICION PAGO</ion-label>
     <ion-item lines="none" class="ion-item">
        <ion-input readonly type="text" placeholder="bodega" [(ngModel)]="gestionOrdenesService.ordenCompra.CONDICION_PAGO"></ion-input>
       </ion-item>
   </ion-col>
   <ion-col size="2">
     <ion-label>MONEDA</ion-label>
     <ion-item lines="none" class="ion-item">
        <ion-input readonly type="text" placeholder="moneda" [(ngModel)]="gestionOrdenesService.ordenCompra.MONEDA"></ion-input>
       </ion-item>
   </ion-col>

   <ion-col size="2">
     <ion-label>PAIS</ion-label>
     <ion-item lines="none" class="ion-item">
        <ion-input readonly type="text" placeholder="pais"[(ngModel)]="gestionOrdenesService.ordenCompra.PAIS"></ion-input>
       </ion-item>
   </ion-col>

</ion-row >


     <ion-row class="ion-padding-top">
      <ion-col size="2">
         <ion-label>FECHA REQUERIDA</ion-label>
         <ion-item lines="none" class="ion-item">
            <ion-input readonly type="text" placeholder="fecha requerida"[(ngModel)]="gestionOrdenesService.ordenCompra.FECHA_REQUERIDA"   (click)="fechaOrdenCompra(gestionOrdenesService.ordenCompra,'FECHA_REQUERIDA')" [ngModel]="gestionOrdenesService.ordenCompra.FECHA_REQUERIDA | date" 
            (ngModelChange)="gestionOrdenesService.ordenCompra.FECHA_REQUERIDA=$event"></ion-input>
           </ion-item>
       </ion-col>
       <ion-col size="2"  *ngIf="actualizar">
         <ion-label>FECHA APROBACION</ion-label>
         <ion-item lines="none" class="ion-item">
            <ion-input readonly type="text" placeholder="fecha aprobacion"[(ngModel)]="gestionOrdenesService.ordenCompra.FECHA_APROBACION"  (click)="fechaOrdenCompra(gestionOrdenesService.ordenCompra,'FECHA_APROBACION')" [ngModel]="gestionOrdenesService.ordenCompra.FECHA_APROBACION | date" 
            (ngModelChange)="gestionOrdenesService.ordenCompra.FECHA_APROBACION=$event"></ion-input>
           </ion-item>
       </ion-col>
       <ion-col size="2" *ngIf="actualizar">
         <ion-label>FECHA ARRIBO</ion-label>
         <ion-item lines="none" class="ion-item">
            <ion-input readonly type="text" placeholder="fecha arribo"[(ngModel)]="gestionOrdenesService.ordenCompra.FECHA_ARRIBO"   (click)="fechaOrdenCompra(gestionOrdenesService.ordenCompra,'FECHA_ARRIBO')" [ngModel]="gestionOrdenesService.ordenCompra.FECHA_ARRIBO | date" 
            (ngModelChange)="gestionOrdenesService.ordenCompra.FECHA_ARRIBO=$event"></ion-input>
           </ion-item>
       </ion-col>
       <ion-col size="2" *ngIf="actualizar">
         <ion-label>FECHA CIERRE</ion-label>
         <ion-item lines="none" class="ion-item">
            <ion-input readonly type="text" placeholder="fecha cierre"[(ngModel)]="gestionOrdenesService.ordenCompra.FECHA_CIERRE"     (click)="fechaOrdenCompra(gestionOrdenesService.ordenCompra,'FECHA_CIERRE')" [ngModel]="gestionOrdenesService.ordenCompra.FECHA_CIERRE | date" 
            (ngModelChange)="gestionOrdenesService.ordenCompra.FECHA_CIERRE=$event"></ion-input>
           </ion-item>
       </ion-col>
       <ion-col size="2" *ngIf="actualizar">
         <ion-label>FECHA COTIZACION</ion-label>
         <ion-item lines="none" class="ion-item">
            <ion-input readonly type="text" placeholder="fecha cotizacion"[(ngModel)]="gestionOrdenesService.ordenCompra.FECHA_COTIZACION"    (click)="fechaOrdenCompra(gestionOrdenesService.ordenCompra,'FECHA_COTIZACION')" [ngModel]="gestionOrdenesService.ordenCompra.FECHA_COTIZACION | date" 
            (ngModelChange)="gestionOrdenesService.ordenCompra.FECHA_COTIZACION=$event"></ion-input>
           </ion-item>
       </ion-col>
   
       <ion-col size="2" *ngIf="actualizar">
         <ion-label>FECHA DESALMACENAJE</ion-label>
         <ion-item lines="none" class="ion-item">
            <ion-input readonly type="text" placeholder="fecha desalmacenaje"[(ngModel)]="gestionOrdenesService.ordenCompra.FECHA_DESALMACENAJE"   (click)="fechaOrdenCompra(gestionOrdenesService.ordenCompra,'FECHA_DESALMACENAJE')" [ngModel]="gestionOrdenesService.ordenCompra.FECHA_DESALMACENAJE | date" 
            (ngModelChange)="gestionOrdenesService.ordenCompra.FECHA_DESALMACENAJE=$event"></ion-input>
           </ion-item>
       </ion-col>
       <ion-col size="2" *ngIf="actualizar">
         <ion-label>FECHA EMBARQUE</ion-label>
         <ion-item lines="none" class="ion-item">
            <ion-input  readonly type="text" placeholder="fecha embarque"[(ngModel)]="gestionOrdenesService.ordenCompra.FECHA_EMBARQUE"    (click)="fechaOrdenCompra(gestionOrdenesService.ordenCompra,'FECHA_EMBARQUE')"  [ngModel]="gestionOrdenesService.ordenCompra.FECHA_EMBARQUE | date" 
            (ngModelChange)="gestionOrdenesService.ordenCompra.FECHA_EMBARQUE=$event"></ion-input>
           </ion-item>
       </ion-col>
       
       <ion-col size="2" *ngIf="actualizar">
         <ion-label>INSTRUCCIONES</ion-label>
         <ion-item lines="none">

            <ion-textarea readonly="{{gestionOrdenesService.ordenCompra.ESTADO == 'A' ? false : true }}"   type="text" placeholder="instrucciones" [(ngModel)]="gestionOrdenesService.ordenCompra.INSTRUCCIONES"  placeholder="instrucciones"></ion-textarea>

 
           </ion-item>
       </ion-col>
         <ion-col size="2">
           <ion-label>% DESCUENTO</ion-label>
           <ion-item class="ion-item" lines="none">
              <ion-input readonly="{{gestionOrdenesService.ordenCompra.ESTADO == 'A' ? false : true }}"  (ionInput)="gestionOrdenesService.setDescuentoOrden($event)" type="number" placeholder="descuento" [(ngModel)]="gestionOrdenesService.ordenCompra.PORC_DESCUENTO"></ion-input>
             </ion-item>
         </ion-col>
         <ion-col size="2">
           <ion-label>MONTO DESCUENTO</ion-label>
           <ion-item class="ion-item" lines="none">
              <ion-input readonly type="text" placeholder="monto descuento" [(ngModel)]="gestionOrdenesService.ordenCompra.MONTO_DESCUENTO"></ion-input>
             </ion-item>
         </ion-col>
         <ion-col size="2">
           <ion-label>MONTO FLETE</ion-label>
           <ion-item class="ion-item" lines="none">
              <ion-input readonly="{{gestionOrdenesService.ordenCompra.ESTADO == 'A' ? false : true }}"   (ionInput)="gestionOrdenesService.setFlete($event)"   type="number" placeholder="monto flete" [(ngModel)]="gestionOrdenesService.ordenCompra.MONTO_FLETE"></ion-input>
             </ion-item>
        </ion-col>
        <ion-col size="2">
           <ion-label>SEGURO</ion-label>
           <ion-item class="ion-item" lines="none">
              <ion-input readonly="{{gestionOrdenesService.ordenCompra.ESTADO == 'A' ? false : true }}"  (ionInput)="gestionOrdenesService.setSeguro($event)" type="text" placeholder="monto seguro" [(ngModel)]="gestionOrdenesService.ordenCompra.MONTO_SEGURO"></ion-input>
             </ion-item>
        </ion-col>
        <ion-col size="2">
           <ion-label>ANTICIPO</ion-label>
           <ion-item class="ion-item" lines="none">
              <ion-input readonly="{{gestionOrdenesService.ordenCompra.ESTADO == 'A' ? false : true }}"  (ionInput)="gestionOrdenesService.setAnticipo($event)"  type="text" placeholder="monto anticipo" [(ngModel)]="gestionOrdenesService.ordenCompra.MONTO_ANTICIPO"></ion-input>
             </ion-item>
        </ion-col>
     </ion-row>

   </ion-grid>
 
 


   <ion-grid  class="container-header" >
      <ion-row>
         <ion-col size="12" class="ion-hide-md-down">
            <ion-toolbar class="ion-no-padding"  >
               <ion-title class="container-title">Lista de Articulos</ion-title>
               <ion-searchbar slot="end" color="light"   mode="ios" style="max-width:30vw;margin-top: 1rem;"  inputmode="text"  debounce="250" placeholder="Buscar Articulo" (ionChange)="onSearchChange($event)" ></ion-searchbar>
  
               <ion-fab-button *ngIf="gestionOrdenesService.ordenCompra.ESTADO == 'A'" slot="end"  (click)="listaArticulos()" color="dark" size="small">
                  <ion-icon name="add"></ion-icon>
               </ion-fab-button>
            </ion-toolbar>
         </ion-col>

   


      </ion-row>

     
     </ion-grid>


     <ion-grid #productos class="container-products">


      <ion-row>
         <ion-col size="12">

            <ion-item>
           <ion-grid >
            <ion-row class="theader" style="width: 100%;"  >

               <ion-col size="7">
                 
                  
               </ion-col>
           
           
               <ion-col size="2"  class="ion-text-center">
                  % PORCENTAJES
               </ion-col>
              
               <ion-col size="2"  class="ion-text-center">
                  MONTOS  
               </ion-col>
               
               <ion-col size="1">
                  
               </ion-col>
            
            </ion-row>
            <ion-row class="theader" style="width: 100%;">
               <ion-col size="1">
                  ARTICULO
               </ion-col>
               <ion-col size="3">
                  DESCRIPCION
               </ion-col>
               <ion-col size="1">
                  PRECIO
               </ion-col>
               <ion-col size="1">
                  UNIDADES
               </ion-col>
           
               <ion-col size="1"   >
                IMPUESTO
               </ion-col>
               <ion-col size="1"  >
                    DESCUENTO
               </ion-col>
               <ion-col size="1">
                  IMPUESTO
               </ion-col>
               <ion-col size="1"  >
                  DESCUENTO
             </ion-col>
               <ion-col size="1">
                    SUBTOTAL
               </ion-col>
               <ion-col size="1">
                  TOTAL
               </ion-col>
            
            </ion-row>
           
 
           </ion-grid>
            </ion-item>
         </ion-col>
      </ion-row>
 <ion-row *ngIf="gestionOrdenesService.articulos.length == 0">
   <ion-col size="12" class="ion-text-center">

      <img height="100"  class="ion-margin" src="assets/empty-cart.svg" alt="" >
   </ion-col>
</ion-row>
 <ion-row *ngIf="gestionOrdenesService.articulos.length > 0"> 
   <ion-col size="12" class="container-products-content">
      <ion-item class="data-row" [ngStyle]="{'background': odd ? '#1e2023' : '#92949c'}"  lines="none" (click)="listaArticulos(articulo)" button *ngFor="let articulo of gestionOrdenesService.articulos | filtro: textoBuscar:'nombre' ; let odd = odd; let i = index; ">
         <ion-grid >
          <ion-row >
             <ion-col size="1" >
                {{articulo.articulo.ARTICULO}}
             </ion-col>
             <ion-col size="3">
                {{articulo.nombre}}
             </ion-col>
             <ion-col size="1">
             {{   articulo.articulo.PRECIO_UNITARIO | colones : 2 : '.' : ',' :  gestionOrdenesService.moneda}}
             </ion-col>
             <ion-col size="1">
                {{articulo.articulo.CANTIDAD_ORDENADA}}
             </ion-col>
         
             <ion-col size="1">
               {{articulo.articulo.IMPUESTO1}} %
             </ion-col>
             <ion-col size="1">
                {{articulo.articulo.PORC_DESCUENTO}} %
             </ion-col>
             <ion-col size="1">
                {{   articulo.totalImpuesto | colones : 2 : '.' : ',' :  gestionOrdenesService.moneda}}
             </ion-col>
             <ion-col size="1">
                {{   articulo.articulo.MONTO_DESCUENTO | colones : 2 : '.' : ',' :  gestionOrdenesService.moneda}}
             </ion-col>
             <ion-col size="1">
                {{    articulo.montoSubTotal | colones : 2 : '.' : ',' :  gestionOrdenesService.moneda}}
             </ion-col>
         
             <ion-col size="1">
                {{   articulo.montoTotal  | colones : 2 : '.' : ',' :  gestionOrdenesService.moneda }}
             </ion-col>
          
          </ion-row>
         </ion-grid>
         </ion-item>
        

   </ion-col>


 </ion-row>

 <ion-row *ngIf="gestionOrdenesService.articulos.length > 0">
   <ion-col size="12">
      <ion-item lines="none" color="dark">
     <ion-grid class="container-montos">
      <ion-row>
            
         <ion-col size="5">
            <strong>Totales</strong>
         </ion-col>
            <ion-col size="12" size-md="1">
               {{gestionOrdenesService.TOTAL_UNIDADES}}
        
            </ion-col>
            <ion-col size="12" size-md="1">
              
        
            </ion-col>
            <ion-col size="12" size-md="1">
              
        
            </ion-col>
            <ion-col size="12" size-md="1">
               {{gestionOrdenesService.ordenCompra.TOTAL_IMPUESTO1    | colones : 2 : '.' : ',' :  gestionOrdenesService.moneda}}
            </ion-col>
            <ion-col size="12" size-md="1">
               {{gestionOrdenesService.ordenCompra.MONTO_DESCUENTO    | colones : 2 : '.' : ',' :  gestionOrdenesService.moneda}}
            </ion-col>
            <ion-col size="12" size-md="1">
               {{gestionOrdenesService.ordenCompra.TOTAL_MERCADERIA   | colones : 2 : '.' : ',' : gestionOrdenesService.moneda}}
            </ion-col>
        
            <ion-col size="12" size-md="1">
               {{gestionOrdenesService.ordenCompra.TOTAL_A_COMPRAR    | colones : 2 : '.' : ',' :  gestionOrdenesService.moneda}}
            </ion-col>
         </ion-row>
     </ion-grid>
      </ion-item>
   </ion-col>
   
 </ion-row>



</ion-grid>





</ion-content>
