<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ordenCompra.ORDEN_COMPRA}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card  class="ion-margin">
    <ion-item color="dark"  >
       <ion-label slot="start"><strong><h2>DETALLES GENERALES</h2></strong></ion-label>

    </ion-item>




    <ion-card-content>
  
  
  
  
  <ion-row class="ion-padding-top">
  
     <ion-col size="2">
       <ion-label>USUARIO</ion-label>
       <ion-item lines="none">
          <ion-input readonly type="text" placeholder="usuario" [(ngModel)]="ordenCompra.USUARIO"></ion-input>
         </ion-item>
     </ion-col>
  
  
  
     <ion-col size="2">
       <ion-label>PROVEEDOR</ion-label>
       <ion-item lines="none">
          <ion-input readonly  type="text" placeholder="proveedor" [(ngModel)]="ordenCompra.PROVEEDOR"></ion-input>
         </ion-item>
     </ion-col>
  
     <ion-col size="2">
       <ion-label>BODEGA</ion-label>
       <ion-item lines="none">
          <ion-input readonly type="text"  placeholder="bodega" [(ngModel)]="ordenCompra.BODEGA"></ion-input>
         </ion-item>
     </ion-col>
  
     <ion-col size="2">
       <ion-label>CONDICION PAGO</ion-label>
       <ion-item lines="none">
          <ion-input readonly type="text" placeholder="bodega" [(ngModel)]="ordenCompra.CONDICION_PAGO"></ion-input>
         </ion-item>
     </ion-col>
     <ion-col size="2">
       <ion-label>MONEDA</ion-label>
       <ion-item lines="none">
          <ion-input readonly type="text" placeholder="moneda" [(ngModel)]="ordenCompra.MONEDA"></ion-input>
         </ion-item>
     </ion-col>
  
     <ion-col size="2">
       <ion-label>PAIS</ion-label>
       <ion-item lines="none">
          <ion-input readonly type="text" placeholder="pais"[(ngModel)]="ordenCompra.PAIS"></ion-input>
         </ion-item>
     </ion-col>
  
  </ion-row >
  
  
       <ion-row class="ion-padding-top">
          <ion-col size="2">
             <ion-label>FECHA REQUERIDA</ion-label>
             <ion-item lines="none">
                <ion-input readonly type="text" placeholder="fecha requerida"[(ngModel)]="ordenCompra.FECHA_REQUERIDA"    [ngModel]="ordenCompra.FECHA_REQUERIDA | date" 
                (ngModelChange)="ordenCompra.FECHA_REQUERIDA=$event"></ion-input>
               </ion-item>
           </ion-col>
           <ion-col size="2">
             <ion-label>% DESCUENTO</ion-label>
             <ion-item lines="none">
                <ion-input   type="number" placeholder="descuento" [(ngModel)]="ordenCompra.PORC_DESCUENTO"></ion-input>
               </ion-item>
           </ion-col>
           <ion-col size="2">
             <ion-label>MONTO DESCUENTO</ion-label>
             <ion-item lines="none">
                <ion-input readonly type="text" placeholder="monto descuento" [(ngModel)]="ordenCompra.MONTO_DESCUENTO"></ion-input>
               </ion-item>
           </ion-col>
           <ion-col size="2">
             <ion-label>MONTO FLETE</ion-label>
             <ion-item lines="none">
                <ion-input     type="number" placeholder="monto flete" [(ngModel)]="ordenCompra.MONTO_FLETE"></ion-input>
               </ion-item>
          </ion-col>
          <ion-col size="2">
             <ion-label>SEGURO</ion-label>
             <ion-item lines="none">
                <ion-input  type="text" placeholder="monto seguro" [(ngModel)]="ordenCompra.MONTO_SEGURO"></ion-input>
               </ion-item>
          </ion-col>
          <ion-col size="2">
             <ion-label>ANTICIPO</ion-label>
             <ion-item lines="none">
                <ion-input  type="text" placeholder="monto anticipo" [(ngModel)]="ordenCompra.MONTO_ANTICIPO"></ion-input>
               </ion-item>
          </ion-col>
       </ion-row>
  
  
    </ion-card-content>
   </ion-card>
  
 <ion-card style="margin-top: 6rem;" class="ion-margin">

  <ion-item color="dark"  >
     <ion-label slot="start"><strong><h2>LISTA DE ARTICULOS</h2></strong></ion-label>
     <ion-searchbar color="light" class="ion-margin-top"   mode="ios" style="max-width:40vw"  inputmode="text"  debounce="250" placeholder="Buscar Articulo" (ionChange)="onSearchChange($event)" ></ion-searchbar>

  </ion-item>





 <ion-card-content class="ion-padding">

  <div style="overflow-x:auto;">
     <table style="width: 100%; margin:1rem" class="ion-padding">
   <thead >
     <th style="min-width:120px;">ARTICULO</th>
     <th style="min-width:200px;">DESCRIPCION</th>
     <th style="min-width:120px;">PRECIO</th>
     <th style="min-width:120px;">UNIDADES</th>
     <th style="min-width:120px;">% IMPUESTO</th>
     <th style="min-width:120px;">% DESCUENTO</th>
     <th style="min-width:200px;">MONTO IMPUESTO</th>
     <th style="min-width:200px;">MONTO DESCUENTO</th>
     <th style="min-width:200px;">PRECIO DESCUENTO</th>
     <th style="min-width:200px;">FECHA REQUERIDA</th>
     <th style="min-width:200px;">TOTAL</th>

   </thead>
<tbody>


  <tr *ngFor="let linea of lineas | filtro: textoBuscar:'DESCRIPCION' ; let odd = odd; let i = index; " [ngClass]="odd ? 'odd' : 'even'">
     <td>
       
       <ion-input readonly="true"   type="text" placeholder="linea" [(ngModel)]="linea.ARTICULO"></ion-input>
       
</td>
     <td>
    
       <ion-input readonly="true"   type="text" placeholder="descripcion" [(ngModel)]="linea.DESCRIPCION"></ion-input></td>

       <td><ion-input     type="number" placeholder="precio" [(ngModel)]="linea.PRECIO_UNITARIO"></ion-input></td>
       
     <td><ion-input   type="number" placeholder="Unidades" [(ngModel)]="linea.CANTIDAD_ORDENADA"></ion-input></td>
     <td><ion-input     type="number" placeholder="impuesto 1" [(ngModel)]="linea.IMPUESTO1"    [ngModel]="linea.IMPUESTO1" ></ion-input></td>
     <td><ion-input    type="number" placeholder="descuento" min="0"    [(ngModel)]="linea.PORC_DESCUENTO"    ></ion-input></td>
     <td><ion-input  readonly="true"   type="text" placeholder="monto impuesto"  [ngModel]="linea.montoImpuesto | colones" (ngModelChange)="linea.montoImpuesto = $event"  ></ion-input></td>
     <td><ion-input  readonly="true"   type="text" placeholder="monto descuento"  [ngModel]="linea.MONTO_DESCUENTO | colones" (ngModelChange)="linea.MONTO_DESCUENTO = $event"  ></ion-input></td>
     <td><ion-input  readonly="true"  type="text" placeholder="precio descuento"    [ngModel]="linea.precioDescuento | colones" (ngModelChange)="linea.precioDescuento = $event" ></ion-input></td>

     <td> <ion-input readonly     type="text" placeholder="fecha requerida" [ngModel]="linea.FECHA_REQUERIDA | date" 
       (ngModelChange)="linea.FECHA_REQUERIDA=$event"></ion-input></td>
     <td><ion-input  readonly="true" type="text" placeholder="Total" [ngModel]="linea.Total | colones" (ngModelChange)="linea.Total = $event"  ></ion-input></td>
     
   

     

   </tr>
</tbody>



     </table>

    
   </div>
   
  
      <ion-toolbar   >
         <ion-row>

            <ion-col size="12" size-md="3">
               <ion-label>DESC SOBRE LA ORDEN</ion-label>

               <ion-item lines="none">
                  <ion-label>{{ordenCompra.MONTO_DESCUENTO  | colones}}</ion-label>
               </ion-item>
            </ion-col>
            <ion-col size="12" size-md="3">
               <ion-label>TOTAL IMPUESTOS</ion-label>
               <ion-item lines="none">
                   <ion-label>{{ordenCompra.TOTAL_IMPUESTO1  | colones}}</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" size-md="3">
               <ion-label>TOTAL MERCADERIA</ion-label>
               <ion-item lines="none">
                  <ion-label>{{ordenCompra.TOTAL_MERCADERIA  | colones}}</ion-label>
               </ion-item>
            </ion-col>
       
            <ion-col size="12" size-md="3">
               <ion-label>TOTAL COMPRAR</ion-label>
     
               <ion-item lines="none">
                  <ion-label>{{ordenCompra.TOTAL_A_COMPRAR  | colones}}</ion-label>
               </ion-item>
            </ion-col>
         </ion-row>
      </ion-toolbar>
 
 
 </ion-card-content>
</ion-card>

</ion-content>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="cerrarModal()" size="small" color="danger"> 
    <ion-icon name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>