<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="cerrarModal()"  fill="clear" slot="start">
      <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Adelanto Viáticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <ion-col size="6">
    <ion-label>Colaborador </ion-label>
 <ion-item class="ion-item" lines="none">
   
  <ion-select   placeholder="Colaborador">
    <ion-select-option value="nelson">Nelson Morera</ion-select-option>
    <ion-select-option value="mauricio">Mauricio Herra</ion-select-option>
  </ion-select>
 </ion-item>
    
  </ion-col>
  <ion-col size="6">

    <ion-label>Fecha</ion-label>
    <ion-item class="ion-item" lines="none">
     <ion-input type="text" placeholder="Fecha"></ion-input>
    </ion-item>
  </ion-col>

  <ion-col size="12">

    <ion-label>Monto</ion-label>
    <ion-item class="ion-item" lines="none">
     <ion-input type="number" placeholder="Monto"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-label>Archivo</ion-label>
    <ion-item class="ion-item" lines="none">

        <ion-input placeholder="Archivo" ></ion-input>
        <ion-fab-button size="small" slot="end" >
          <label for="input" style="font-size: 20pt; padding: 20px" >
            <ion-icon name="cloud-upload-outline"></ion-icon>
          </label>
          <input id="input" type="file" class="hideInput" (change)="changeListener($event)">
        </ion-fab-button>
      </ion-item>
   
  </ion-col>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding">
<ion-button (click)="cerrarModal()" expand="block" fill="solid" color="dark">
 Guardar Adelanto de Viático
</ion-button>
  </ion-toolbar>
</ion-footer>
