

.hideInput{
    position: absolute;
    bottom: -100000000px;
}
ion-fab-button {
    --background: transparent;
    --box-shadow:none;
    label{
        color: #000;
        font-size: 2rem!important;
    }
}