
<ion-toolbar>

    <ion-fab-button  color="dark" slot="end" size="small">
        <ion-icon   size="large" name="add"></ion-icon>
    </ion-fab-button>

</ion-toolbar>
<ion-content class="ion-padding">
      
  <ion-grid  style="height: 100%;">
  <ion-row    style="height: 100%;">
  
        
  <ion-col size="12">
  
  <div  #mapa  [ngStyle]="{
    'height': '100%',
    'width': '100%'
  }" class="mapa"></div>
  
  </ion-col>
  
  
             
  
  
  </ion-row>
  </ion-grid>
  
  </ion-content>