

<ion-content class="ion-padding">

<ion-grid >
<ion-row>
  <ion-col size="12" size-md="6">
    <ion-row>
 
      <ion-col size="12">
       <h1><strong>Project-Info</strong></h1>
      </ion-col>
  
      <ion-col size="12">
         <ion-label>Tel: (506) xxx-xxx</ion-label>
      </ion-col>
 
      <ion-col size="12">
         <ion-label>Address:xxxxxxx</ion-label>
      </ion-col>
      <ion-col size="12">
         <ion-label><a href="https://" target="_blank">https://</a></ion-label>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col size="12" size-md="6">
    <ion-list>
      <ion-item lines="none">
        <ion-label class="ion-text-uppercase"><strong>Included Modules</strong></ion-label>
      </ion-item>

      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
        <ion-item button (click)="setTitle(p.title)"    style="margin-top:0.5rem" [routerLink]="p.url" routerDirection="root" routerLinkActive="active-item"    routerLinkActive="selected" detail>
          <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label  >{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-title>Project-Info</ion-title>
  </ion-toolbar>
</ion-footer>