

<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title class="ion-text-capitalize" class="title"><strong>Project Information</strong></ion-title>
 
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

<ion-grid >
<ion-row>
  <ion-col size="12" size-md="6">
    <ion-row>

      <ion-col size="12" class="ion-text-left">
        <img style="height: 12rem;width: 12rem;"  src="assets/imgs/devCodingLogo.svg" />
      </ion-col>
      

      <ion-col size="12" *ngIf="companiesService.company.name">
        <ion-label>Company : <strong>{{companiesService.company.name}}</strong></ion-label>
     </ion-col>
     <ion-col size="12" *ngIf="companiesService.company.description">
      <ion-label>Description : <strong> {{companiesService.company.description}}</strong></ion-label>
   </ion-col>
      <ion-col size="12">
        <ion-label>Developer : Nelson Nevil Morera Fernández</ion-label>
     </ion-col>
      <ion-col size="12">
        <ion-label>Tel : <span>
          <a href="tel:+50662962461" target="_blank">+50662962461</a>
  
          
          </span></ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-label>Email : <span  >
          <a href = "mailto:workemailnelson@gmail.com" target="_blank">
            workemailnelson@gmail.com
          
          
          </a>
         
          </span></ion-label>
     </ion-col>

      <ion-col size="12">
         <ion-label>Address:Heredia, Costa Rica</ion-label>
      </ion-col>
      <ion-col size="12">
         <ion-label><a href="https://dev-coding.com" target="_blank">https://dev-coding.com</a></ion-label>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col size="12" size-md="6">
    <ion-list>
      <ion-item lines="none">
        <ion-label class="ion-text-uppercase"><strong>Included Modules</strong></ion-label>
      </ion-item>

      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
        <ion-item button (click)="setTitle(p.title)"    [routerLink]="p.url" routerDirection="root" routerLinkActive="active-item"    routerLinkActive="selected" detail>
          <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label  >{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
<app-footer></app-footer>
