
 <ion-toolbar style="display: flex;justify-content: center;align-items: center;">
   <img  slot="start" src="{{image}}" />
   <ion-title slot="start"><h1>DiONE Gestor / Proveedores  / Articulos</h1></ion-title>
 
   
   <ion-buttons slot="end" >
      <ion-button (click)="generarPost()">
         <ion-icon size="large" name="save-outline"></ion-icon>
  
      </ion-button>
      <ion-button (click)="listaProveedores()">
         <ion-icon size="large" name="settings-outline"></ion-icon>
  
      </ion-button>
      <ion-button (click)="salir()">
         <ion-icon size="large" name="exit-outline"></ion-icon>
  
      </ion-button>
   </ion-buttons>
 </ion-toolbar>

 <ion-toolbar>
    

  
 </ion-toolbar>

<ion-content >
   <ion-row class="ion-margin">
      <ion-col size="6">
<ion-row>
   <ion-col size="12">
      <ion-label>Distribuidora Isleña de Alimentos S.A</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label>TAX ID: 3-101-10918017</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label>Telefono: (506) 2293-0609</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label>Fax: (506) 2293-3231</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label>Dirección:Barreal Heredia-Alajuela-Costa Rica</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label><a href="https://www.di.cr/" target="_blank">www.di.cr</a></ion-label>
   </ion-col>
</ion-row>
      </ion-col>
      <ion-col size="6">
         <ion-row>

            <ion-col size="12">
               <ion-label><strong><h2>    ORDEN DE COMPRA #</h2></strong></ion-label>
               <ion-input *ngIf="ordenCompra"  type="text" placeholder="Ingresar Orden de  compra" [(ngModel)]="ordenCompra.ORDEN_COMPRA"></ion-input>


            </ion-col>
            <ion-col size="12">
               <ion-row class="dark-header">
                  <ion-col size="4">
Dia
                  </ion-col>
                  <ion-col size="4">
                     Mes
                  </ion-col>
                  <ion-col size="4">
                     Año
                  </ion-col>
               </ion-row>
               <ion-row class="row-text-center">
                  <ion-col size="4">
{{date}}
                  </ion-col>
                  <ion-col size="4">
                     {{month}}
                  </ion-col>
                  <ion-col size="4">
                     {{year}}
                  </ion-col>
               </ion-row>
            </ion-col>
         </ion-row>

      </ion-col>
   </ion-row>

   
    <ion-card  class="ion-margin" *ngIf="proveedor">
      <ion-item color="dark"  >
         <ion-label slot="start"><strong><h2>DETALLE PROVEEDOR</h2></strong></ion-label>
         
      </ion-item>
      <ion-card-content>
   
   
   
   

         <ion-row *ngIf="proveedor" class="ion-margin">
            <ion-col size="4" >
      
                <ion-row>
                  <ion-col size="12">
                     <ion-label><h2>Proveedor : {{proveedor.NOMBRE}}</h2></ion-label>
                     <ion-label *ngIf="articulosService.articulosPostArray.length > 0">Total de Articulos :   <ion-badge  color="warning" mode="ios">{{articulosService.articulosProveedor.length}}</ion-badge></ion-label>
            
                  </ion-col>
      
                 
            
            </ion-row>
                     </ion-col>
      
                     <ion-col size="4">
                        <ion-row>
                           <ion-col size="12">
                              <ion-label>Dirección : {{proveedor.DIRECCION}}</ion-label>
                           </ion-col>
                           <ion-col size="12">
                              <ion-label>Correo : {{proveedor.E_MAIL}}</ion-label>
                           </ion-col>
                           <ion-col size="12">
                              <ion-label>Telefono : {{proveedor.TELEFONO1}}</ion-label>
                           </ion-col>
                        </ion-row>
                     </ion-col>
                     <ion-col size="4">
                       <ion-row>
                          <ion-col size="12">
                             <ion-label>Proforma # :</ion-label>
                          </ion-col>
               
                          <ion-col size="12">
                             <ion-label>Codigo Postal : </ion-label>
                          </ion-col>
                          <ion-col size="12">
                             <ion-label>Contacto : </ion-label>
                          </ion-col>
                          <ion-col size="12">
                             <ion-label>Incoterm : </ion-label>
                          </ion-col>
                    
                       </ion-row>
                     </ion-col>
             
      
          </ion-row>

   
   
      </ion-card-content>
     </ion-card>
  <ion-card  class="ion-margin">
   <ion-item color="dark"  >
      <ion-label slot="start"><strong><h2>DETALLES GENERALES</h2></strong></ion-label>
      <ion-badge slot="end" color="primary" mode="ios" >LISTA BODEGAS</ion-badge>
   <ion-fab-button slot="end"  (click)="listaBodegas()" color="primary" size="small">
      <ion-icon name="add"></ion-icon>
   </ion-fab-button>
   </ion-item>
   <ion-card-content>




<ion-row class="ion-padding-top">

    <ion-col size="2">
      <ion-label>USUARIO</ion-label>
      <ion-item lines="none">
         <ion-input type="text" placeholder="usuario" [(ngModel)]="ordenCompra.USUARIO"></ion-input>
        </ion-item>
    </ion-col>



    <ion-col size="2">
      <ion-label>PROVEEDOR</ion-label>
      <ion-item lines="none">
         <ion-input readonly  type="text" placeholder="proveedor" [(ngModel)]="ordenCompra.PROVEEDOR"></ion-input>
        </ion-item>
    </ion-col>

    <ion-col size="2">
      <ion-label>BODEGA</ion-label>
      <ion-item lines="none">
         <ion-input readonly type="text"  placeholder="bodega" [(ngModel)]="ordenCompra.BODEGA"></ion-input>
        </ion-item>
    </ion-col>

    <ion-col size="2">
      <ion-label>CONDICION PAGO</ion-label>
      <ion-item lines="none">
         <ion-input readonly type="text" placeholder="bodega" [(ngModel)]="ordenCompra.CONDICION_PAGO"></ion-input>
        </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-label>MONEDA</ion-label>
      <ion-item lines="none">
         <ion-input readonly type="text" placeholder="moneda" [(ngModel)]="ordenCompra.MONEDA"></ion-input>
        </ion-item>
    </ion-col>

    <ion-col size="2">
      <ion-label>PAIS</ion-label>
      <ion-item lines="none">
         <ion-input readonly type="text" placeholder="pais"[(ngModel)]="ordenCompra.PAIS"></ion-input>
        </ion-item>
    </ion-col>

</ion-row >


      <ion-row class="ion-padding-top">
         <ion-col size="2">
            <ion-label>FECHA REQUERIDA</ion-label>
            <ion-item lines="none">
               <ion-input readonly type="text" placeholder="fecha requerida"[(ngModel)]="ordenCompra.FECHA_REQUERIDA"   (click)="fechaOrdenCompra(ordenCompra)" [ngModel]="ordenCompra.FECHA_REQUERIDA | date" 
               (ngModelChange)="ordenCompra.FECHA_REQUERIDA=$event"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-label>% DESCUENTO</ion-label>
            <ion-item lines="none">
               <ion-input (ionInput)="setDescuentoOrden($event)" type="number" placeholder="descuento" [(ngModel)]="ordenCompra.PORC_DESCUENTO"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-label>MONTO DESCUENTO</ion-label>
            <ion-item lines="none">
               <ion-input readonly type="text" placeholder="monto descuento" [(ngModel)]="ordenCompra.MONTO_DESCUENTO"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-label>MONTO FLETE</ion-label>
            <ion-item lines="none">
               <ion-input  (ionInput)="setFlete($event)"   type="number" placeholder="monto flete" [(ngModel)]="ordenCompra.MONTO_FLETE"></ion-input>
              </ion-item>
         </ion-col>
         <ion-col size="2">
            <ion-label>SEGURO</ion-label>
            <ion-item lines="none">
               <ion-input (ionInput)="setSeguro($event)" type="text" placeholder="monto seguro" [(ngModel)]="ordenCompra.MONTO_SEGURO"></ion-input>
              </ion-item>
         </ion-col>
         <ion-col size="2">
            <ion-label>ANTICIPO</ion-label>
            <ion-item lines="none">
               <ion-input (ionInput)="setAnticipo($event)"  type="text" placeholder="monto anticipo" [(ngModel)]="ordenCompra.MONTO_ANTICIPO"></ion-input>
              </ion-item>
         </ion-col>
      </ion-row>


   </ion-card-content>
  </ion-card>


  <ion-card style="margin-top: 6rem;" class="ion-margin">

   <ion-item color="dark"  >
      <ion-label slot="start"><strong><h2>LISTA DE ARTICULOS</h2></strong></ion-label>
      <ion-searchbar color="light" class="ion-margin-top"   mode="ios" style="max-width:40vw"  inputmode="text"  debounce="250" placeholder="Buscar Articulo" (ionChange)="onSearchChange($event)" ></ion-searchbar>
      <ion-badge slot="end" color="primary" mode="ios" >ARTICULOS</ion-badge>
   <ion-fab-button slot="end"  (click)="listaArticulos()" color="primary" size="small">
      <ion-icon name="add"></ion-icon>
   </ion-fab-button>
   </ion-item>





  <ion-card-content>

   <div style="overflow-x:auto;">
      <table style="width: 100%;">
    <thead >
      <th>ARTICULO</th>
      <th>DESCRIPCION</th>
      <th>PRECIO</th>
      <th>UNIDADES</th>
      <th>% IMPUESTO</th>
      <th>% DESCUENTO</th>
      <th>MONTO DESCUENTO</th>
      <th >PRECIO DESCUENTO</th>
      <th >FECHA REQUERIDA</th>
      <th>TOTAL</th>
     <th></th>
    </thead>
<tbody>
   <tr *ngFor="let articulo of articulosService.articulosPostArray | filtro: textoBuscar:'ARTICULO' ; let odd = odd; let i = index; " [ngClass]="odd ? 'odd' : 'even'">
      <td>
        
        <ion-input readonly="true"   type="text" placeholder="articulo" [(ngModel)]="articulo.articulo.ARTICULO"></ion-input>
        
</td>
      <td>
     
        <ion-input readonly="true"   type="text" placeholder="descripcion" [(ngModel)]="articulo.articulo.DESCRIPCION"></ion-input></td>

        <td><ion-input  (ionInput)="setPrecio($event,articulo)"   type="number" placeholder="precio" [(ngModel)]="articulo.articulo.PRECIO_UNITARIO"></ion-input></td>
        
      <td><ion-input (ionInput)="setUnidades($event,articulo)"  type="number" placeholder="Unidades" [(ngModel)]="articulo.articulo.CANTIDAD_ORDENADA"></ion-input></td>
      <td><ion-input  (ionInput)="setImpuesto($event,articulo)"    type="number" placeholder="impuesto 1" [(ngModel)]="articulo.articulo.IMPUESTO1" ></ion-input></td>
      <td><ion-input (ionInput)="setDescuento($event,articulo)"   type="number" placeholder="descuento" min="0" [(ngModel)]="articulo.articulo.PORC_DESCUENTO"></ion-input></td>
      <td><ion-input  readonly="true"   type="number" placeholder="monto descuento" min="0" [(ngModel)]="articulo.articulo.MONTO_DESCUENTO"></ion-input></td>
      <td><ion-input  readonly="true"  type="number" placeholder="precio descuento" min="0" [(ngModel)]="articulo.precioDescuento"></ion-input></td>
 
      <td> <ion-input readonly (click)="presentPopover(articulo)"   type="text" placeholder="fecha requerida" [ngModel]="articulo.articulo.FECHA_REQUERIDA | date" 
        (ngModelChange)="articulo.articulo.FECHA_REQUERIDA=$event"></ion-input></td>
      <td><ion-input  readonly="true" type="number" placeholder="Total" [ngModel]="ordenCompra.TOTAL_A_COMPRAR" (ngModelChange)="onInputChange($event)"  ></ion-input></td>
      
    
     <td>
        <ion-button size="large"   (click)="borrarArticulo(i, articulo)" fill="clear" >
        <ion-icon size="large"  name="trash-outline" color="danger"></ion-icon>
        </ion-button>
     </td>
      

    </tr>
</tbody>


      <tfoot  *ngIf="articulosService.articulosPostArray.length > 0">
      
 
          <tr class="ion-margin">
        
            <th colspan="2" class="ion-text-left"> 
           <ion-label>UNIDADES TOTALES</ion-label>
              <ion-item lines="none">
               <ion-label>{{TOTAL_UNIDADES}}</ion-label>
            </ion-item>

             </th>

            <th colspan="2" class="ion-text-left"> 
          <ion-label>DESC SOBRE LA ORDEN</ion-label>

            <ion-item lines="none">
               <ion-label>{{ordenCompra.MONTO_DESCUENTO  | colones}}</ion-label>
            </ion-item>

             </th>
      
     
            <th colspan="2" class="ion-text-left"> 
               <ion-label>TOTAL IMPUESTOS</ion-label>
              <ion-item lines="none">
                  <ion-label>{{ordenCompra.TOTAL_IMPUESTO1  | colones}}</ion-label>
               </ion-item>
             </th>
   
            <th colspan="2" class="ion-text-left"> 
           <ion-label>TOTAL MERCADERIA</ion-label>
            <ion-item lines="none">
               <ion-label>{{ordenCompra.TOTAL_MERCADERIA  | colones}}</ion-label>
            </ion-item>


         </th>
            <th colspan="2" class="ion-text-left">  
               <ion-label>TOTAL COMPRAR</ion-label>
         
            <ion-item lines="none">
               <ion-label>{{ordenCompra.TOTAL_A_COMPRAR  | colones}}</ion-label>
            </ion-item>
            </th>
          
          </tr>


      </tfoot>
      </table>

     
    </div>
   
  </ion-card-content>
</ion-card>

</ion-content>
