
 <ion-toolbar style="display: flex;justify-content: center;align-items: center;">
   <img  slot="start" src="{{image}}" />
   <ion-title slot="start"><h1>DiONE Gestor / Proveedores  / Articulos</h1></ion-title>
 

   <ion-buttons slot="end" >
      <ion-button (click)="listaProveedores()">
         <ion-icon size="large" name="settings-outline"></ion-icon>
  
      </ion-button>
      <ion-button (click)="salir()">
         <ion-icon size="large" name="exit-outline"></ion-icon>
  
      </ion-button>
   </ion-buttons>
 </ion-toolbar>

 <ion-toolbar>
    

  
 </ion-toolbar>

<ion-content >
   <ion-row class="ion-margin">
      <ion-col size="6">
<ion-row>
   <ion-col size="12">
      <ion-label>Distribuidora Isleña de Alimentos S.A</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label>TAX ID: 3-101-10918017</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label>Telefono: (506) 2293-0609</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label>Fax: (506) 2293-3231</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label>Dirección:Barreal Heredia-Alajuela-Costa Rica</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label><a href="https://www.di.cr/" target="_blank">www.di.cr</a></ion-label>
   </ion-col>
</ion-row>
      </ion-col>
      <ion-col size="6">
         <ion-row>

            <ion-col size="12">
               <ion-label>Orden de compra #</ion-label>
            </ion-col>
            <ion-col size="12">
               <ion-row class="dark-header">
                  <ion-col size="4">
Dia
                  </ion-col>
                  <ion-col size="4">
                     Mes
                  </ion-col>
                  <ion-col size="4">
                     Año
                  </ion-col>
               </ion-row>
               <ion-row class="row-text-center">
                  <ion-col size="4">
{{date}}
                  </ion-col>
                  <ion-col size="4">
                     {{month}}
                  </ion-col>
                  <ion-col size="4">
                     {{year}}
                  </ion-col>
               </ion-row>
            </ion-col>
         </ion-row>

      </ion-col>
   </ion-row>

   
    <ion-row *ngIf="proveedor" class="ion-margin">
      <ion-col size="4" >

          <ion-row>
            <ion-col size="12">
               <ion-label><h2>Proveedor : {{proveedor.NOMBRE}}</h2></ion-label>
               <ion-label *ngIf="articulosService.articulosPostArray.length > 0">Total de Articulos :   <ion-badge  color="warning" mode="ios">{{articulosService.articulosProveedor.length}}</ion-badge></ion-label>
      
            </ion-col>
           <ion-col size="12">
         <ion-label>Proveedor : {{proveedor.NOMBRE}}</ion-label>
           </ion-col>
  
           
      
      </ion-row>
               </ion-col>

               <ion-col size="4">
                  <ion-row>
                     <ion-col size="12">
                        <ion-label>Dirección : {{proveedor.DIRECCION}}</ion-label>
                     </ion-col>
                     <ion-col size="12">
                        <ion-label>Correo : {{proveedor.E_MAIL}}</ion-label>
                     </ion-col>
                     <ion-col size="12">
                        <ion-label>Telefono : {{proveedor.TELEFONO1}}</ion-label>
                     </ion-col>
                  </ion-row>
               </ion-col>
               <ion-col size="4">
                 <ion-row>
                    <ion-col size="12">
                       <ion-label>Proforma # :</ion-label>
                    </ion-col>
         
                    <ion-col size="12">
                       <ion-label>Codigo Postal : </ion-label>
                    </ion-col>
                    <ion-col size="12">
                       <ion-label>Contacto : </ion-label>
                    </ion-col>
                    <ion-col size="12">
                       <ion-label>Incoterm : </ion-label>
                    </ion-col>
              
                 </ion-row>
               </ion-col>
       

    </ion-row>
   <ion-row  class="ion-margin">
      <ion-col size="4">
         <ion-label><strong><h2>ORDEN DE COMPRA</h2></strong></ion-label>

      </ion-col>
      <ion-col *ngIf="proveedor" size="8" style="display: flex;justify-content: flex-end;align-items: center;">
         <ion-badge color="dark" mode="ios" class="ion-margin">LISTA BODEGAS</ion-badge>
         <ion-fab-button (click)="listaBodegas()" color="dark" size="small">
            <ion-icon name="add"></ion-icon>
         </ion-fab-button>
       </ion-col>
      <ion-col size="12">
  
<div style="overflow-x:auto;">
   <table>
 <thead>
   <th>ORDEN_COMPRA</th>
   <th>USUARIO</th>
   <th>PROVEEDOR</th>
   <th>BODEGA</th>
   <th>CONDICION_PAGO</th>
   <th>MONEDA</th>
   <th>PAIS</th>
   <th>MODULO_ORIGEN</th>
   <th>FECHA</th>
   <th>FECHA_REQUERIDA</th>
   <th>TIPO_DESCUENTO</th>
   <th>PORC_DESCUENTO</th>
   <th>MONTO_DESCUENTO</th>
   <th>TOTAL_MERCADERIA</th>
   <th>TOTAL_IMPUESTO1</th>
   <th>TOTAL_IMPUESTO2</th>
   <th>MONTO_FLETE</th>
   <th>MONTO_SEGURO</th>
   <th>MONTO_DOCUMENTACIO</th>
   <th>MONTO_ANTICIPO</th>
   <th>TOTAL_A_COMPRAR</th>
 </thead>
     <tr>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
      
       

     </tr>
   
   </table>
 </div>
      </ion-col>
    </ion-row>

 <ion-row  class="ion-margin">
   <ion-col size="4">
      <ion-label><strong><h2>LISTA DE ARTICULOS</h2></strong></ion-label>

   </ion-col>
   <ion-col *ngIf="articulosService.articulos.length > 0 && proveedor" size="8" style="display: flex;justify-content: flex-end;align-items: center;">
      <ion-searchbar  class="ion-margin-top"   mode="ios" style="max-width:40vw"  inputmode="text"  debounce="250" placeholder="Buscar Articulo" (ionChange)="onSearchChange($event)" ></ion-searchbar>
      <ion-badge color="dark" mode="ios" class="ion-margin">LISTA ARTICULOS</ion-badge>
      <ion-fab-button (click)="listaArticulos()" color="dark" size="small">
         <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-col>

    <ion-col size="12">
  
      <div style="overflow-x:auto;">
         <table>
       <thead>
         <th>CODIGO_DI</th>
         <th>DESCRIPCION</th>
         <th>UNIDADES</th>
         <th>CAJAS</th>
         <th>PRECIO_ANTERIOR</th>
         <th>PRECIO_ACTUAL</th>
         <th>TOTAL</th>
         <th>INDICADOR</th>
        
       </thead>
           <tr *ngFor="let articulo of articulosService.articulosPostArray | filtro: textoBuscar:'ARTICULO' ; let odd = odd; " [ngClass]="odd ? 'odd' : 'even'">
             <td><ion-label >{{articulo.articulo.ARTICULO}}</ion-label></td>
             <td><ion-label>{{articulo.articulo.DESCRIPCION}}</ion-label></td>
             <td><ion-input (ionInput)="setCajas($event,articulo)"  type="number" placeholder="Unidades" [(ngModel)]="articulo.Unidades"></ion-input></td>
             <td><ion-input readonly="true"   type="number" placeholder="Cajas" [(ngModel)]="articulo.Cajas"></ion-input></td>
             <td><ion-input readonly="true"  type="number" placeholder="Precio Ant" min="0"></ion-input></td>
             <td><ion-input readonly="true" type="number" placeholder="ULT_PREC_UNITARIO" [(ngModel)]="articulo.articulo.ULT_PREC_UNITARIO"></ion-input></td>
             <td><ion-input  readonly="true" type="number" placeholder="Total" [(ngModel)]="articulo.Total"></ion-input></td>
             <td> <ion-input readonly="true"  type="text" placeholder="Indicador"></ion-input></td>
            
             
      
           </tr>
         <tfoot >
            <tr class="ion-margin">
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
        
               <td colspan="2"> <ion-label    *ngIf="articulosService.articulos.length > 0 && proveedor"  ><h2>SubTotal : {{articulosService.subTotal.toFixed(2) }}</h2></ion-label></td>
               <td>  <ion-label  *ngIf="articulosService.articulos.length > 0 && proveedor"   ><h2>Total : {{articulosService.total.toFixed(2)}}</h2></ion-label></td>
               
             </tr>
         </tfoot>
         </table>
        
       </div>
            </ion-col>



  
  </ion-row>



</ion-content>
