
 <ion-toolbar style="display: flex;justify-content: center;align-items: center;">
   <img  slot="start" src="{{image}}" />
   <ion-title slot="start"><h1>DiONE Gestor / Proveedores  / Articulos</h1></ion-title>
 

   <ion-buttons slot="end" >
      <ion-button (click)="listaProveedores()">
         <ion-icon size="large" name="settings-outline"></ion-icon>
  
      </ion-button>
      <ion-button (click)="salir()">
         <ion-icon size="large" name="exit-outline"></ion-icon>
  
      </ion-button>
   </ion-buttons>
 </ion-toolbar>

 <ion-toolbar>
    

<ion-grid >
   <ion-row>
      <ion-col size="6">
<ion-row>
   <ion-col size="12">
      <ion-label>Distribuidora Isleña de Alimentos S.A</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label>TAX ID: 3-101-10918017</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label>Telefono: (506) 2293-0609</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label>Fax: (506) 2293-3231</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label>Dirección:Barreal Heredia-Alajuela-Costa Rica</ion-label>
   </ion-col>
   <ion-col size="12">
      <ion-label><a href="https://www.di.cr/" target="_blank">www.di.cr</a></ion-label>
   </ion-col>
</ion-row>
      </ion-col>
      <ion-col size="6">
         <ion-row>

            <ion-col size="12">
               <ion-label>Orden de compra #</ion-label>
            </ion-col>
            <ion-col size="12">
               <ion-row class="dark-header">
                  <ion-col size="4">
Dia
                  </ion-col>
                  <ion-col size="4">
                     Mes
                  </ion-col>
                  <ion-col size="4">
                     Año
                  </ion-col>
               </ion-row>
               <ion-row class="row-text-center">
                  <ion-col size="4">
{{date}}
                  </ion-col>
                  <ion-col size="4">
                     {{month}}
                  </ion-col>
                  <ion-col size="4">
                     {{year}}
                  </ion-col>
               </ion-row>
            </ion-col>
         </ion-row>

      </ion-col>
   </ion-row>
</ion-grid>

 <ion-grid >
    <ion-row>
      <ion-col size="6">
         <ion-accordion-group *ngIf="articulosService.articulos.length > 0 && proveedor" >
            <ion-accordion >
              <ion-item slot="header">
                <ion-label><h2>Proveedor : {{proveedor.NOMBRE}}</h2></ion-label>
                <ion-label>Total de Articulos :   <ion-badge  color="warning" mode="ios">{{articulosService.articulos.length}}</ion-badge></ion-label>
     
              </ion-item>
          
              <ion-grid slot="content">
               <ion-row>
                  <ion-col size="6">
         <ion-row>
           <ion-col size="12">
         <ion-label>Proveedor : {{proveedor.NOMBRE}}</ion-label>
           </ion-col>
           <ion-col size="12">
              <ion-label>Dirección : {{proveedor.DIRECCION}}</ion-label>
           </ion-col>
           <ion-col size="12">
              <ion-label>Correo : {{proveedor.E_MAIL}}</ion-label>
           </ion-col>
         
         
         </ion-row>
                  </ion-col>
                  <ion-col size="6">
                    <ion-row>
                       <ion-col size="12">
                          <ion-label>Proforma # :</ion-label>
                       </ion-col>
                       <ion-col size="12">
                          <ion-label>Telefono : {{proveedor.TELEFONO1}}</ion-label>
                       </ion-col>
                       <ion-col size="12">
                          <ion-label>Codigo Postal : </ion-label>
                       </ion-col>
                       <ion-col size="12">
                          <ion-label>Contacto : </ion-label>
                       </ion-col>
                       <ion-col size="12">
                          <ion-label>Incoterm : </ion-label>
                       </ion-col>
                 
                    </ion-row>
                  </ion-col>
          
               </ion-row>
            </ion-grid>
         
              
            </ion-accordion>
          </ion-accordion-group>
       </ion-col>
       <ion-col size="6">
         <ion-searchbar *ngIf="articulosService.articulos.length > 0 && proveedor" class="ion-margin-top"   mode="ios" style="max-width:40vw"  inputmode="text"  debounce="250" placeholder="Buscar Articulo" (ionChange)="onSearchChange($event)" ></ion-searchbar>
       </ion-col>

    </ion-row>
   
 <ion-row class="header-row">

   <ion-col  size="1">
    <ion-label> Código DI</ion-label>
   </ion-col>  
   <ion-col size="2">
    <ion-label> Descripción</ion-label>
  </ion-col>  
  <ion-col  size="2">
 <ion-label>  Item  </ion-label>
  </ion-col>  
  <ion-col  size="2">
     <ion-label>Nombre</ion-label>
  </ion-col>  
  <ion-col  size="1">
<ion-label>     PAL</ion-label>
  </ion-col>  
  <ion-col  size="1">
  <ion-label>   Cajas</ion-label>
  </ion-col>  
  <ion-col   size="1">
   <ion-label>  Precio Ant</ion-label>
  </ion-col>  
  <ion-col   size="1">
   <ion-label>  Precio Act</ion-label>
  </ion-col>  
  <ion-col size="1">
     <ion-label>Indicador</ion-label>
  </ion-col>  
  
  
  
  
  
  
  </ion-row>
 </ion-grid>
  
 </ion-toolbar>

<ion-content >



  <ion-grid  style="height: 100%;">
     <ion-row style="height: 100%;display: flex;justify-content: center;"  *ngIf="articulosService.articulos.length == 0 && !proveedor">
        <ion-col class="ion-text-center ion-margin" style="display: grid;place-content: center;"> 

      <img style="height: 11rem;margin: 0 auto;" src="{{box}}" alt="">
      <ion-label class="ion-margin ion-text-uppercase" style="font-weight: bold;">Gestor Proveedores / Articulos <ion-badge color="warning" mode="ios">0</ion-badge> </ion-label>
   
        </ion-col>
     </ion-row>

<ion-row    class="data-row"  *ngFor="let articulo of articulosService.articulos | filtro: textoBuscar:'ARTICULO' ; let odd = odd; " [ngClass]="odd ? 'odd' : 'even'">

   <ion-col size="1">
<ion-label >{{articulo.ARTICULO}}</ion-label>
   </ion-col>  
   <ion-col size="2">
<ion-label>{{articulo.DESCRIPCION}}</ion-label>
  </ion-col>  
  <ion-col size="2">
<ion-label>   N/A</ion-label>
  </ion-col>  
  <ion-col size="2">
   <ion-label>   N/A</ion-label>
  </ion-col>  
  <ion-col size="1">
   0
  </ion-col>  
  <ion-col size="1">
   0
  </ion-col>  
  <ion-col size="1">
   0
  </ion-col>  
  <ion-col size="1">
   0
  </ion-col>  
  <ion-col size="1">
0
  </ion-col>  

  
  
  </ion-row>


  </ion-grid>

</ion-content>
<ion-footer class="ion-no-padding">
   <ion-toolbar>
      <ion-title slot="start">Distribuidora Isleña</ion-title>
<ion-grid >
   <ion-row>
      <ion-col size="6">
                  
   <ion-label    *ngIf="articulosService.articulos.length > 0 && proveedor"  ><h2>SubTotal : 0</h2></ion-label>
      </ion-col>
      <ion-col size="6">

   <ion-label  *ngIf="articulosService.articulos.length > 0 && proveedor"   ><h2>Total : 0</h2></ion-label>
      </ion-col>
   </ion-row>
</ion-grid>

   </ion-toolbar>

</ion-footer>