<ion-header class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-title>Formulario Compras Internacionales</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6"   >
<ion-item>
  <ion-label position="stacked">No. Orden</ion-label>
  <ion-input type="text" placeholder="No. Orden" [(ngModel)]="orden.No_Orden"></ion-input>
</ion-item>
      </ion-col>
      <ion-col size="12" size-md="6">
   <ion-item>
    <ion-label position="stacked">Pais</ion-label>
    <ion-input *ngIf="!pais"   readonly (click)="listaPaises()" type="text" placeholder="Pais"   ></ion-input>
    <ion-input *ngIf="pais"  [(ngModel)]="pais.Pais" readonly (click)="listaPaises()" type="text" placeholder="pais"   ></ion-input>
   </ion-item>
      </ion-col>
      <ion-col size="12" size-md="6" >

<ion-item>
  <ion-label position="stacked">Fecha Pedido</ion-label>
  <ion-input  readonly (click)="calendarioPopOver()"  type="text" placeholder="Fecha Pedido"  [(ngModel)]="orden.Fecha_Pedido"></ion-input>
</ion-item>

      </ion-col>
<ion-col size="12" size-md="6">
<ion-item>
  <ion-label position="stacked">Proveedor</ion-label>
  <ion-input    *ngIf="!proveedor" readonly (click)="listaProveedores()" type="text" placeholder="Proveedor"></ion-input>
  <ion-input  *ngIf="proveedor"  [(ngModel)]="proveedor.NOMBRE" readonly (click)="listaProveedores()" type="text" placeholder="proveedor"></ion-input>
</ion-item>
</ion-col>
<ion-col size="12" size-md="6">
<ion-item>
  <ion-label position="stacked">Item</ion-label>
  <ion-input    [(ngModel)]="orden.Item"  type="text" placeholder="Item"></ion-input>
</ion-item>
</ion-col>

<ion-col size="12" size-md="6">
<ion-item>
  <ion-label position="stacked">Marca</ion-label>
  <ion-input  [(ngModel)]="orden.Marca"  type="text" placeholder="Marca"></ion-input>
</ion-item>
</ion-col>
<ion-col size="12">
<ion-item>
  <ion-label position="stacked">Informacion de la orden</ion-label>
  <ion-textarea placeholder="Informacion"  [(ngModel)]="orden.Informacion" ></ion-textarea>
</ion-item>
</ion-col>
<ion-col size="12">
  <ion-button (click)="retornarValor()" expand="block" fill="solid">
    Generar Orden
  </ion-button>
</ion-col>

    </ion-row>
  </ion-grid>


</ion-content>


<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="cerrarModal()" color="danger" size="small">
    <ion-icon name="close-outline" size="large"></ion-icon>
  </ion-fab-button>
</ion-fab>