 
@import "../node_modules/angular-signature-pad/styles";
ion-icon{
    //  color: #000;
  } 
  ion-input{
      border-radius: 10px;
      border: solid 1px rgba(218,218,218,1);
      height: 2.5rem;
  }
  ion-label{
      font-weight: 500;
  }
  ion-textarea{
      border-radius: 10px;
      border: solid 1px rgba(218,218,218,1);
      height: 4rem;
   
  
  }
  .description{
      height: 4rem;
  }
  .has-focus {
      border: 2px solid #5b9bd1 !important;
    }
  ion-footer ion-toolbar ion-button{
    --padding-top:1rem;
    --padding-bottom:1rem;
    --padding-start:0.75rem;
    --padding-end:0.75rem;  
    height: 2.5rem;
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  