

<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-grid >
      <ion-row>
        <ion-col size="12" size-md="12" style="display: flex;justify-content: center;align-items: center;">
          <ion-title class="ion-text-capitalize" class="title">
            <strong>Invoice Generator</strong>
          </ion-title>
        </ion-col>
         
      </ion-row>
    </ion-grid>
   </ion-toolbar>
  
</ion-header>



  <ion-content class="ion-padding">

    <ion-grid   >
      <ion-row >
        <ion-col size="3">
          <ion-row>
            <ion-col size="12">
              <ion-label>Title</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input name="title" [(ngModel)]="invoice.title" type="text" placeholder="title"></ion-input>
            </ion-col>
          
          </ion-row>
        </ion-col>

        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <ion-label>Start Date</ion-label> 
            </ion-col>
            <ion-col size="5">
              <ion-label>End Date</ion-label> 
            </ion-col>
            <ion-col size="2" ></ion-col>
            <ion-col size="5">
              <ion-input (click)="selectDate(1)" type="text" placeholder="startDate" [value]="invoice.quotation_date | date"></ion-input>
            </ion-col>
            <ion-col size="5">
              <ion-input (click)="selectDate(2)" type="text" placeholder="endDate" [value]="invoice.required_date | date"></ion-input>
            </ion-col>
            <ion-col size="2" >
               
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-row>
            <ion-col size="12">
              <ion-label>Receipt #</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input type="text" placeholder="receipt #"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <ion-label>Customer Name</ion-label> 
            </ion-col>
            <ion-col size="5">
              <ion-label>Customer Lastname</ion-label> 
            </ion-col>
            <ion-col size="2" ></ion-col>
            <ion-col size="5">
              <ion-input name="name" [(ngModel)]="customersService.customer.name" type="text" placeholder="name"></ion-input>
            </ion-col>
            <ion-col size="5">
              <ion-input  name="lastname" [(ngModel)]="customersService.customer.lastname"  type="text" placeholder="lastname"></ion-input>
            </ion-col>
            <ion-col size="2" >
              <ion-fab-button (click)="customersList()" style="position: absolute;top: -0.2rem;" size="small" color="dark">
                <ion-icon name="search"></ion-icon>
              </ion-fab-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-row>
            <ion-col size="12">
              <ion-label>Email</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input type="text" name="email" [(ngModel)]="customersService.customer.email"  placeholder="email"></ion-input>
            </ion-col>
          
          </ion-row>
        </ion-col>

        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <ion-label>Phone</ion-label> 
            </ion-col>
            <ion-col size="5">
              <ion-label>Address</ion-label> 
            </ion-col>
            <ion-col size="2" ></ion-col>
            <ion-col size="5">
              <ion-input  name="phone" [(ngModel)]="customersService.customer.phone"  placeholder="phone" type="text" ></ion-input>
            </ion-col>
            <ion-col size="5">
              <ion-input name="address" [(ngModel)]="customersService.customer.address"  placeholder="address" class="description" type="text"></ion-input>
            </ion-col>
            <ion-col size="2" >
               
            </ion-col>
          </ion-row>
        </ion-col>

       
     </ion-row>
     <ion-row >
      <ion-col size="12">
      
        <ion-header class="ion-no-border">
          <ion-toolbar>
        
            <ion-grid >
              <ion-row>
                <ion-col size="12" size-md="6" style="display: flex;justify-content: center;align-items: center;">
                  <ion-title class="ion-text-capitalize" class="title">
                    <strong>Products</strong>
                  </ion-title>
                </ion-col>
                <ion-col size="9" size-md="4" style="display: flex;justify-content: center;align-items: center;">
                  <ion-searchbar style="margin-top: 1rem;" placeholder="search"  type="text"    [debounce]="250"  mode="ios"></ion-searchbar>
        
                </ion-col>
                <ion-col size="3" size-md="2" style="display: flex;justify-content: center;align-items: center;">
                     
            <ion-fab-button (click)="productsList()"  color="dark" size="small" >
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="generarPost()"  *ngIf="products.length > 0"  color="dark" size="small" >
              <ion-icon name="save"></ion-icon>
            </ion-fab-button>
                </ion-col>
              </ion-row>
        
              
            </ion-grid>
           </ion-toolbar>
          
        </ion-header>
        
                </ion-col>
                <ion-col size="12">
                  <ion-item >
                    <ion-grid >
                      <ion-row>
                        <ion-col   class="ion-hide-md-down"><strong>Product</strong></ion-col>
                        <ion-col  class="ion-hide-md-down"><strong>Description</strong></ion-col>
                        <ion-col ><strong>Units</strong></ion-col>
                        <ion-col  class="ion-hide-md-down"><strong>Price</strong></ion-col>
                        <ion-col  class="ion-hide-md-down"><strong>SubTotal</strong></ion-col>
                        <ion-col  class="ion-hide-md-down"><strong>Tax</strong></ion-col>
                        <ion-col><strong>Options</strong></ion-col>
                      </ion-row>
                    </ion-grid>
                    </ion-item>
                </ion-col>
        <ion-col size="12">
        <ion-list style="height: 40vh;overflow: auto;">
          <ion-item *ngFor="let product of products">
            <ion-grid >
              <ion-row>
                <ion-col   class="ion-hide-md-down" style="display: flex;justify-content: flex-start;align-items: center;">{{product.product.name}}</ion-col>
                <ion-col  class="ion-hide-md-down" style="display: flex;justify-content: flex-start;align-items: center;">{{product.product.description}}</ion-col>
                <ion-col  style="display: flex;justify-content: flex-start;align-items: center;">
                  <ion-input  name="units" (ionChange)="increseUnits(product, $event)" type="number" placeholder="units" [value]="product.product.units"></ion-input>
                </ion-col>
                <ion-col  class="ion-hide-md-down" style="display: flex;justify-content: flex-start;align-items: center;">
                  <ion-input name="price" readonly type="number" placeholder="price" [(ngModel)]="product.product.price"></ion-input>
                </ion-col>
                <ion-col  class="ion-hide-md-down" style="display: flex;justify-content: flex-start;align-items: center;">
                  {{ product.subTotal | currency : 2 : '.' : ',' :  '₡'  }}
                </ion-col>
                <ion-col  class="ion-hide-md-down" style="display: flex;justify-content: flex-start;align-items: center;">
            {{product.tax}}
                
                </ion-col>
                <ion-col  style="display: flex;" style="display: flex;justify-content: flex-start;align-items: center;">
        
                <ion-button  fill="clear"    >
                  <ion-icon color="danger" name="trash"></ion-icon>
                </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
        </ion-list>
        
        </ion-col>
        
        <ion-col size="12" *ngIf="products.length > 0">
          <ion-item >
            <ion-grid >
             <ion-row>
              <ion-col size="8">
                
              </ion-col>
               <ion-col size="2">
                <ion-row>
                  <ion-col size="12">
                    <strong>Tax Amount</strong>
                  </ion-col>
                  <ion-col size="12">
                   <strong>Total</strong>
                 </ion-col>
                </ion-row>
               </ion-col>
               <ion-col size="2">
                 <ion-row>
                   <ion-col size="12">
                     <strong>
                     {{ taxAmount | currency : 2 : '.' : ',' :  '₡'  }}
                    </strong>
                   </ion-col>
                   <ion-col size="12">
                    <strong>
                      {{ invoice.total | currency : 2 : '.' : ',' :  '₡'  }}
                     </strong>
                  </ion-col>
                 </ion-row>
               </ion-col>
    
     </ion-row>
    </ion-grid>
       </ion-item>
</ion-col>


   
        
      </ion-row>
    </ion-grid>

</ion-content>

<app-footer></app-footer>
