<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="cerrarModal()"  fill="clear" slot="start">
      <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>SMS Verification</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title class="ion-text-wrap ion-margin-top">To continue please type the code received in your phone..</ion-title>
  
  </ion-toolbar>


</ion-header>

<ion-content class="ion-padding">


 

</ion-content>

 
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding">
<ion-button (click)="cerrarModal()" expand="block" fill="solid" color="dark">
Verify Account
</ion-button>
  </ion-toolbar>
</ion-footer>
