 
  
  .logo {
  
    position: absolute;
    top: -1.2rem;
    left: 1rem;
    z-index: 9999;
    height: 120px;
  }

  .fixed-content{
    overflow: auto;
    height: 20vh;
  }

  .fixed2-content{
    overflow: auto;
    height: 60vh;
  }