

<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding">

    <ion-grid >
      <ion-row>
        <ion-col size="4" style="display: flex;justify-content: center;align-items: center;">
          <ion-title class="ion-text-capitalize" class="title">Company Invoices</ion-title>
        </ion-col>
        <ion-col size="7" style="display: flex;justify-content: center;align-items: center;">
          <ion-searchbar style="margin-top: 1rem;" placeholder="search"  type="text"    [debounce]="250"  mode="ios"></ion-searchbar>

        </ion-col>
        <ion-col size="1" style="display: flex;justify-content: center;align-items: center;">
             
    <ion-fab-button color="dark" size="small" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-grid>


   </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-grid style="height: 100%;" >
    <ion-row style="height: 100%;">
     <ion-col size="12">

      <ion-list>

        <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
      <ion-thumbnail slot="start">
        <img src="../assets/imgs/bill.svg" />
      </ion-thumbnail>
          <ion-label style="margin-left: 1rem;">Awesome Label</ion-label>
          <ion-fab-button size="small" slot="end" color="dark">
            <ion-icon name="create"></ion-icon>
          </ion-fab-button>
          <ion-fab-button size="small" slot="end" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-fab-button>
        </ion-item>
      </ion-list>
      
     </ion-col>
  
    </ion-row>
  </ion-grid>
 
</ion-content>
 