<ion-app>
  <ion-split-pane contentId="main-split">
    <ion-menu (mouseover)="openMenu()" [ngClass]="settingsService.menu   ? 'expand-menu' :'menu-hide'"
      contentId="main-content" type="overlay" menuId="myMenu">
      <ion-header class="ion-no-border">
        <ion-toolbar color="dark" >
          <ion-thumbnail>
            <img   src="assets/imgs/devCodingLogo.svg" />
          </ion-thumbnail>
        </ion-toolbar>
      </ion-header>
      <ion-content>



        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">

          <ion-item (click)="menuAction(p.url)" button lines="{{settingsService.menu ? '' : 'none'}}">
            <ion-fab-button slot="{{settingsService.menu ? 'start' : ''}}" size="small" color="dark">
              <ion-icon [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            </ion-fab-button>

            <ion-label *ngIf="settingsService.menu">{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>



      </ion-content>

    </ion-menu>


    <div id="main-split" (mouseover)="closeMenu()">

      <ion-router-outlet id="main-content">



      </ion-router-outlet>

     

    </div>

  </ion-split-pane>

</ion-app>