 ion-toolbar{
  --background: white ;
 }
  
  .logo {
  
    position: absolute;
    top: 0;
    left: 1rem;
    z-index: 9999;
    height: 120px;
  }

  ion-slides {
    height: 100%;
    //background-color: aquamarine;
  }
  ion-slide{
    overflow: auto;
    img{
      height: 100%;
     width: 100%;
    }
  }

  @media screen and (max-width: 650px){

    .logo {
  
      position: absolute;
      top: 1rem;
      left: 1rem;
      z-index: 9999;
      height: 120px;
    }
      
    }