<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding">
    <ion-title class="ion-text-capitalize" class="title"><strong>Monthly Sales</strong></ion-title>
 
  </ion-toolbar>
</ion-header>

 
<ion-content   >
   
    <ion-grid  >
      <ion-row >
        <ion-col size="12" size-md="6" class="ion-padding">
    
          <ion-list lines="full">
         
            <ion-item *ngFor="let item of [1,1,1,1,1]; let i = index;" detail>
              <ion-fab-button color="success" size="small" slot="start">
{{i+1}}
              </ion-fab-button>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-md="6"  style="display: flex;justify-content: center;align-items: center;" >
    
          <span  [ngStyle]="{'min-height': chartHeight,'width': chartHeight}" >
            <canvas baseChart class="chart"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="lineChartType"
             ></canvas>
          </span>


        
        </ion-col>
      </ion-row>
    </ion-grid>
 

 
  </ion-content>
