/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
ion-modal.large-modal {

    --backdrop-opacity: 0.8 !important;
    align-items: center;
    justify-content: center; 
    &::part(content){
      width: 80%;
      height: 85%; 
    }
  
      
   
  }

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html,body {
    width: 100%;
    width: 100%;
     margin: 0; 
     padding: 0; 
    
    }

    ion-modal.auto-size-modal {
      &.bottom {
          align-items: flex-end;
      }
      ion-label{
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 400;
      }
    
      --height: auto;
      --width: 90vw!important;
      color: #000!important;
      --color: #000!important;
      .ion-page {
          position: relative;
          display: block;
          contain: content;
    
          .inner-content {
              max-height: 80vh;
       overflow-y: scroll;
                 color: #000!important;
              --color: #000!important;
          }
      }
    } 
.scroll-modal {
    max-height:400px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }

  /* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .alert-wrapper {
  background: #e5e5e5;
}


  .scroll {
    max-height: 250px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  .scroll-sm {
    max-height: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  .scroll-md {
    max-height:240px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }

    .scroll-menu {
    max-height: 500px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }
.btn-sm{
  height: 35px;
  width: 35px;
}
.btn-sm ion-icon{
  font-size: 16px;

}
  .my-custom-class{
    --backdrop-opacity: 0.8 !important;
  
    .modal-wrapper {
      --position:absolute;
      --left:0;
      --width: 85% !important;
      --height: 75%;
      position: absolute;
    }
  }
  .modal-md{
    --backdrop-opacity: 0.8 !important;
  
    .modal-wrapper {
      --position:absolute;
      --left:0;
      --width: 85% !important;
      --height: 85%;
      position: absolute;
    }
  }

  .modal-detalle{
    --backdrop-opacity: 0.8 !important;
  
    .modal-wrapper {
      --position:absolute;
      --left:0;
      --width: 70% !important;
      --height: 60%;
      position: absolute;
    }
  }
  .right-modal{
    --backdrop-opacity: 0.8 !important;
  
    .modal-wrapper {
      position: absolute;
      height: 100%;
      width:620px;
      top: 0;
      right: 0 !important;
    }
  }
  .center{
    display: flex;justify-content: center;align-items: center;
  }
  .center-btn{
   display: flex; justify-content: center;
  }
  .title{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .title-2{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .new-background-color{
    --background: transparent;
  }
  ion-item {
    --ion-item-background: transparent;
  }
  .margin-rignt{
  margin-right: 100px;
  }
  .center{
    padding: 100px;
    display: grid;
    place-content: center;
  }
  html, body {
    width: 100%;
    height: 100%;
  }
 

  
.medium-font{
  font-size: 40px;
}
  

  #circle{
    --border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
}
.spin-element {

  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.center-container{
  display: flex;
  justify-content: center;
}


html, body{
  width: 100%!important;
  height: 100%!important;
}


app-menu{
  position: fixed;
  top: 120px;
  left: 20px;
  z-index: 99999;
}

.menu-map-popOver{
width: 100%;
  --min-width: 250px;
  --min-width: 450px;
  --max-height: 100%;


}
.marker-icon {
  display: block;
  border: none;
  cursor: pointer;
  
font-weight: bold;
font-size: 10px;
  }
.marker {
  display: block;
  border: none;
  cursor: pointer;
  
font-weight: bold;
font-size: 10px;
  }

  .map-markers{
    .modal-wrapper {
      --position:absolute;
      --left:0;
      --width:  100% !important;
      --height: 100%;
      position: absolute;
    }
  }

  .medium-modal{
    .modal-wrapper {
      --position:absolute;
      --left:0;
      --width: 75% !important;
      --height: 75%;
      position: absolute;
    }
  }

  .medium-modal-center{
    .modal-wrapper {
      --position:absolute;
      --left:0;
      --width: 75% !important;
      --height: 75%;
      position: absolute;
    }
  }


.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    .mapboxgl-popup-close-button{
        display: none;
    }

    .mapboxgl-popup-content-wrapper{
     padding: 1%;
    }

    .zoom{
      position: fixed;
      bottom: 10px;
      left: 30px;
      z-index: 99999;
  
      overflow: hidden;
      overflow-y: auto;
      ::-webkit-scrollbar {
        display: none;
      }
    }

    ion-toolbar {
      --background-color: transparent;
      --ion-color-base: transparent !important;
    }

    /* Basics */
.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder *,
.mapboxgl-ctrl-geocoder *:after,
.mapboxgl-ctrl-geocoder *:before {
  box-sizing: border-box;
}

.mapboxgl-ctrl-geocoder {
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  background-color: #fff;
  top: 0;
  right: 100px;
  width: 100%;
  min-width: 240px;
  z-index: 1;
  border-radius: 4px;
  transition: width .25s, min-width .25s;
}

.mapboxgl-ctrl-geocoder--input {
  font: inherit;
  width: 100%;
  border: 0;
  background-color: transparent;
  margin: 0;
  height: 50px;
  color: #404040; /* fallback */
  color: rgba(0, 0, 0, 0.75);
  padding: 6px 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mapboxgl-ctrl-geocoder--input::-ms-clear {
  display: none; /* hide input clear button in IE */
}

.mapboxgl-ctrl-geocoder--input:focus {
  color: #404040; /* fallback */
  color: rgba(0, 0, 0, 0.75);
  outline: 0;
  box-shadow: none;
  outline: thin dotted;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
  z-index: 2;
  position: absolute;
  right: 8px;
  top: 7px;
  display: none;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder .suggestions {
  box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

/* Collapsed */
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
  width: 50px;
  min-width: 50px;
  transition: width .25s, min-width .25s;
}

/* Suggestions */
.mapboxgl-ctrl-geocoder .suggestions {
  background-color: #fff;
  border-radius: 4px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 110%; /* fallback */
  top: calc(100% + 6px);
  z-index: 1000;
  overflow: hidden;
  font-size: 15px;
}

.mapboxgl-ctrl-bottom-left .suggestions,
.mapboxgl-ctrl-bottom-right .suggestions {
  top: auto;
  bottom: 100%;
}

.mapboxgl-ctrl-geocoder .suggestions > li > a {
  cursor: default;
  display: block;
  padding: 6px 12px;
  color: #404040;
}

.mapboxgl-ctrl-geocoder .suggestions > .active > a,
.mapboxgl-ctrl-geocoder .suggestions > li > a:hover {
  color: #404040;
  background-color: #f3f3f3;
  text-decoration: none;
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder--suggestion-title {
  font-weight: bold;
}

.mapboxgl-ctrl-geocoder--suggestion-title,
.mapboxgl-ctrl-geocoder--suggestion-address {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Icons */
.mapboxgl-ctrl-geocoder--icon {
  display: inline-block;
  vertical-align: middle;
  speak: none;
  fill: #757575;
  top: 15px;
}

.mapboxgl-ctrl-geocoder--icon-search {
  position: absolute;
  top: 13px;
  left: 12px;
  width: 23px;
  height: 23px;
}

.mapboxgl-ctrl-geocoder--button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: #fff;
  line-height: 1;
}

.mapboxgl-ctrl-geocoder--icon-close {
  width: 20px;
  height: 20px;
  margin-top: 8px;
  margin-right: 3px;
}

.mapboxgl-ctrl-geocoder--button:hover .mapboxgl-ctrl-geocoder--icon-close {
  fill: #909090;
}

.mapboxgl-ctrl-geocoder--icon-loading {
  width: 26px;
  height: 26px;
  margin-top: 5px;
  margin-right: 0px;
  -moz-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -webkit-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

/* Animation */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Media queries*/
@media screen and (min-width: 640px) {

  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
    width: 36px;
    min-width: 36px;
  }

  .mapboxgl-ctrl-geocoder {
    width: 33.3333%;
    font-size: 15px;
    line-height: 20px;
    max-width: 360px;
  }
  .mapboxgl-ctrl-geocoder .suggestions {
    font-size: 13px;
  }

  .mapboxgl-ctrl-geocoder--icon {
    top: 8px;
  }

  .mapboxgl-ctrl-geocoder--icon-close {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 0;
  }

  .mapboxgl-ctrl-geocoder--icon-search {
    left: 7px;
    width: 20px;
    height: 20px;
  }

  .mapboxgl-ctrl-geocoder--input {
    height: 36px;
    padding: 6px 35px;
  }

  .mapboxgl-ctrl-geocoder--icon-loading {
    width: 26px;
    height: 26px;
    margin-top: -2px;
    margin-right: -5px;
  }

  .mapbox-gl-geocoder--error{
    color:#909090;
    padding: 6px 12px;
    font-size: 16px;
    text-align: center
  }

}



ion-modal.custom-modal {
  &.bottom {
      align-items: flex-end;
  }

  --height: auto;

  .ion-page {
      position: relative;
      display: block;
      contain: content;

      .inner-content {
          max-height: 80vh;
          overflow: auto;
          padding: 10px;
      }
  }
}

.example-modal {
  align-items: center;
  justify-content: center; 
  &::part(content){
    min-width: 90%;
    min-height: 60%; 
  }
}


ion-modal.large-modal {

  --backdrop-opacity: 0.8 !important;
  align-items: center;
  justify-content: center; 
  &::part(content){
    width: 80%;
    height: 85%; 
  }

    
 
}


ion-modal.extra-large-modal {

  --backdrop-opacity: 0.8 !important;
  align-items: center;
  justify-content: center; 
  &::part(content){
    width: 95%;
    height: 95%; 
  }

    
 
}
.color-modal{
  .modal-wrapper{
    --position:absolute;
    --left:0;
    --width: 75% !important;
    --height: 75%;
    position: absolute;
   
}

}

.table-title{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.table-text{
text-transform: capitalize;
font-size: 12px;
}

ion-checkbox.checkbox-disabled {
  opacity: 1 !important;
}

ion-modal .calendario-modal{
  --width: 50px;
  --height: 32px;
  --border-radius: 8px;
        ion-datetime {
          height: 32px;
        }
}

.marker {
display: block;
border: none;
cursor: pointer;
padding: 0;
margin-left: 3rem;
}
.marker-icon {
position: absolute;
top: -20px;
left: -3rem;
  }
* {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.sidebar {
  position: absolute;
  margin: 20px 20px 30px 20px;
  width: 25%;
  top: 0;
  bottom: 0;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  }
   
  .card {
  font-size: small;
  border-bottom: solid #d3d3d3 2px;
  margin-bottom: 6px;
  }
   
  .card-header {
  font-weight: bold;
  padding: 6px;
  }
   
  .no-route {
  background-color: #d3d3d3;
  color: #f00;
  }
   
  .obstacle-found {
  background-color: #d3d3d3;
  color: #fff;
  }
   
  .route-found {
  background-color: #33a532;
  color: #fff;
  }
   
  .card-details {
  padding: 3px 6px;
  }

  .my-custom-modal   {
      
    --backdrop-opacity: 0.8 !important;
    align-items: center;
    justify-content: center; 
    &::part(content){
      width:80%;
      height: 80%; 
    }
  }

  .alert-menu{
    --backdrop-opacity: 0.8 !important;
    --height:60%;
    --width: 60%;
    --max-width: 80%;
  }