h1{
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    color: #364f6b;
  
  }
  
  h2{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #364f6b;
  
  }
 ion-toolbar{
  img{
    height: 50px;
    padding-left: 1rem;
    padding-top: 0.5rem;
}
 }

  .dark-header{
    background-color: #000; 
    color: #fff;
    text-align: left;
  }
  .row-text-center{
    background-color: #D9E1F2;
    text-align: left;
  }
  a{
    font-size: 17px;
    letter-spacing: 0.5px;
    text-decoration: none;
  }
  .header-row{

    font-weight: 500;
    border-bottom: 2px solid black;
  }
  .data-row{
    border-bottom: 1px solid black;
  }
  .odd{
    background: #CCC;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  
  }
  .even{
    background-color: #D9E1F2;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
ion-item{
  border-radius: 50px;
  box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.08);
  --highlight-height:0px;
}

ion-input{
  font-size: 18px;


}