
  <ion-toolbar  mode="md" >
    <ion-grid >
<ion-row >
  <ion-col size="12">
    <h3 class="ion-text-uppercase">Agregar un nuevo articulo</h3>
  </ion-col>
</ion-row>
 

      <ion-row class="ion-margin-top">
        <ion-col  size="12" size-md="2">
  
          <ion-label>Articulo</ion-label>
                 <ion-input readonly="true" name="ARTICULO"  type="text" placeholder="articulo" [(ngModel)]="articuloPostArray.articulo.ARTICULO"></ion-input>
               
               </ion-col>
         
               <ion-col  size="12" size-md="4">
                 <ion-label>Descripcion</ion-label>
                 <ion-input readonly="true" name="DESCRIPCION"  type="text" placeholder="descripcion" [(ngModel)]="articuloPostArray.articulo.DESCRIPCION"></ion-input>
         
         
               </ion-col>
         
               <ion-col  size="12" size-md="2">
                 <ion-label>Precio</ion-label>
                 <ion-input name="PRECIO_UNITARIO"   (change)="actualizarValores()"   type="number" placeholder="precio" [(ngModel)]="articuloPostArray.articulo.PRECIO_UNITARIO"></ion-input>
               </ion-col>
         
               <ion-col  size="12" size-md="2">
                 <ion-label>Unidades</ion-label>
                 <ion-input  name="CANTIDAD_ORDENADA"    (change)="actualizarValores()"  type="number" placeholder="Unidades" [(ngModel)]="articuloPostArray.articulo.CANTIDAD_ORDENADA"></ion-input>
               </ion-col>
         
         
        <ion-col  size="12" size-md="2">
          <ion-label>% Desc.</ion-label>
          <ion-input name="PORC_DESCUENTO"  (change)="actualizarValores()"   type="number" placeholder="descuento" min="0"    [(ngModel)]="articuloPostArray.articulo.PORC_DESCUENTO"    ></ion-input>
  
        </ion-col>
  
        <ion-col  size="12" size-md="2">
          <ion-label>Monto Desc.</ion-label>
          <ion-input name="MONTO_DESCUENTO"   readonly="true"   type="text" placeholder="monto descuento"  [ngModel]="articuloPostArray.articulo.MONTO_DESCUENTO | colones" (ngModelChange)="articuloPostArray.articulo.MONTO_DESCUENTO = $event"  >
          </ion-input>
        </ion-col>
        <ion-col  size="12" size-md="2">
          <ion-label>% Imp.</ion-label>
          <ion-input name="IMPUESTO1"  (change)="actualizarValores()"   type="number" placeholder="impuesto" min="0"    [(ngModel)]="articuloPostArray.articulo.IMPUESTO1"    ></ion-input>
  
        </ion-col>
  
        <ion-col  size="12" size-md="2">
          <ion-label>Monto Imp.</ion-label>
          <ion-input name="MONTO_DESCUENTO"   readonly="true"   type="text" placeholder="monto impuesto"  [ngModel]="articuloPostArray.montoImpuesto | colones" (ngModelChange)="articuloPostArray.montoImpuesto = $event"  >
          </ion-input>
        </ion-col>
        <ion-col  size="12" size-md="2">
          <ion-label>Precio Desc.</ion-label>
          <ion-input name="precioDescuento"   readonly="true"  type="text" placeholder="precio descuento"    [ngModel]="articuloPostArray.precioDescuento | colones" (ngModelChange)="articuloPostArray.precioDescuento = $event" ></ion-input>
        </ion-col>
  
        <ion-col  size="8" size-md="2">
          <ion-label>Total</ion-label>
          <ion-input name="Total"   readonly="true" type="text" placeholder="Total" [ngModel]="articuloPostArray.Total | colones" (ngModelChange)="articuloPostArray.Total = $event"  ></ion-input>
        </ion-col>
        <ion-col  size="4" size-md="2">
          <ion-fab-button (click)="agregarArticulo()" size="small"  color="dark"> 
            <ion-icon name="add-outline"></ion-icon>
          </ion-fab-button>
        </ion-col>
  
  
      </ion-row>

      <ion-row>
        <ion-col size="6" style="display: flex; justify-content: center;align-items: right;">
          <ion-title class="ion-text-uppercase" style="text-align: left;">Lista de articulos</ion-title>
        
        </ion-col>
        <ion-col size="5" style="display: flex; justify-content: center;align-items: right;">
      
          <ion-searchbar    mode="ios" placeholder="Buscar articulo" inputmode="text" (ionChange)="onSearchChange($event)"  debounce="250" ></ion-searchbar>
  

        </ion-col>
      </ion-row>
    </ion-grid>
 
      </ion-toolbar>

<ion-content scrollable>


  <ion-list lines="none">
    <ion-item  *ngFor="let articulo of articulosService.articulos | filtro: textoBuscar:'ARTICULO'">
      <ion-label><ion-badge color="warning" mode="ios" class="ion-margin-right">{{articulo.ARTICULO}}</ion-badge> {{articulo.DESCRIPCION}} </ion-label>
     
      <ion-checkbox  [(ngModel)]="articulo.SELECTED" (click)="seccionarArticulo( articulo)" slot="end" name="articulo"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="cerrarModal()" size="small" color="danger"> 
    <ion-icon name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>