
<ion-content  >
      
  <ion-grid  style="height: 100%;">
  <ion-row    style="height: 100%;">

    <ion-col size="12" size-md="6" style=" display: flex;">
      <ion-card style="height: 130px;min-width: 200px;"  button (click)="ordenesInternacionales(ordenesEnPlanificacion)">

        <ion-card-content class="ion-padding ion-text-center">
       <ion-fab-button   style="margin: 0.5rem auto;" size="small" color="dark">

        {{ordenesEnPlanificacion.length}}
       </ion-fab-button>
         <ion-label  ><strong>Ordenes en Planificacion</strong></ion-label>
        </ion-card-content>
      </ion-card>

      <ion-card style="height: 130px;min-width: 200px;"  button (click)="ordenesInternacionales(ordenesEnTransito)">

        <ion-card-content class="ion-padding ion-text-center">
       <ion-fab-button   style="margin: 0.5rem auto;" size="small" color="dark">
        {{ordenesEnTransito.length}}
       </ion-fab-button>
         <ion-label  ><strong>Ordenes en Transito</strong></ion-label>
        </ion-card-content>
      </ion-card>
    
    </ion-col>

    <ion-col size="12" size-md="6">
      <ion-row>
        <ion-col size="10">

          <ion-item>
            <ion-label>Filtrar por Continente</ion-label>
            <ion-select  value="all"  placeholder="Filtrar Contiente"  (ionChange)="filtrar($event)">
    
              <ion-select-option [value]="contiente" *ngFor="let contiente of continentes; let i = index;"  > {{i +1}}  - {{contiente.name}}</ion-select-option>
              <ion-select-option value="all">Todos</ion-select-option>
            </ion-select>
          </ion-item>
    
        </ion-col>
        <ion-col size="10">
    
          <ion-item>
            <ion-label>Filtrar por Estado</ion-label>
            <ion-select  value="all"  placeholder="Filtrar Estado"  (ionChange)="filtrarEstado($event)">
    
              <ion-select-option [value]="estado" *ngFor="let estado of estados"  >{{estado.estado}}</ion-select-option>
              <ion-select-option value="all">Todos</ion-select-option>
            </ion-select>
          </ion-item>
    
        </ion-col>
      </ion-row>
    </ion-col>
  <ion-col size="12">
  
  <div  #mapa  [ngStyle]="{
    'height': '60vh',
    'width': '100%'
  }" class="mapa"></div>
  
  </ion-col>
  
  
             
  
  
  </ion-row>
  </ion-grid>
  
  </ion-content>

