
<ion-content  >
      
  <ion-grid  style="height: 100%;">
  <ion-row    style="height: 100%;">

    <ion-col size="12" style=" display: flex;
    flex-wrap: wrap;">
      <ion-card style="height: 120px;min-width: 200px;"  *ngFor="let estado of estados" button (click)="ordenesInternacionales(estado.estado)">

        <ion-card-content class="ion-padding ion-text-center">
       <ion-fab-button   style="margin: 0.5rem auto;" size="small" color="dark">
     0
       </ion-fab-button>
         <ion-label  ><strong>{{estado.estado}}</strong></ion-label>
        </ion-card-content>
      </ion-card>
    
    </ion-col>
    <ion-col size="12">
      <ion-row>
        <ion-col size="4">

          <ion-item>
            <ion-label>Filtrar por Continente</ion-label>
            <ion-select  value="all"  placeholder="Filtrar Contiente"  (ionChange)="filtrar($event)">
    
              <ion-select-option [value]="contiente" *ngFor="let contiente of continentes"  >{{contiente.name}}</ion-select-option>
              <ion-select-option value="all">Todos</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>
        <ion-col size="4">

          <ion-item>
            <ion-label>Filtrar por Estado</ion-label>
            <ion-select  value="all"  placeholder="Filtrar Estado"  (ionChange)="filtrarEstado($event)">
    
              <ion-select-option [value]="estado" *ngFor="let estado of estados"  >{{estado.estado}}</ion-select-option>
              <ion-select-option value="all">Todos</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>
      </ion-row>
    </ion-col>
  
        
  <ion-col size="12">
  
  <div  #mapa  [ngStyle]="{
    'height': '50vh',
    'width': '100%'
  }" class="mapa"></div>
  
  </ion-col>
  
  
             
  
  
  </ion-row>
  </ion-grid>
  
  </ion-content>


  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button  (click)="fomularioComprasInternacionales()"  color="dark" size="small">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>